<template>

  <div class="box is-clickable" @click="VisitRouteByName(this, solution.route)" style="height: 100%;">
    <h4 class="is-size-5 has-secondary-color has-text-weight-bold line-height-normalized mb-2">

      <template v-if="typeof solution.pricing === 'string'">
        <div class="tag mt-1 ml-2 is-default is-pulled-right">{{ solution.pricing }}</div>
      </template>
      <template v-if="typeof solution.pricing === 'object'">
        <div class="tag mt-1 ml-2 is-default is-pulled-right">
          {{ FormatCurrency(solution.pricing.amount, solution.pricing.currency) }}<small v-if="solution.pricing.conditional"> / {{ solution.pricing.conditional }}</small>
        </div>
      </template>

      <u v-html="solution.title"></u>

    </h4>
    <p class="is-size-7" v-html="solution.description"></p>
  </div>

</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
export default defineComponent({
  name: 'SolutionBlock',
  props: {
    solution: Object,
  },
  data() {
    return {};
  },
  setup() {
    const { FormatCurrency, VisitRouteByName } = Helpers();
    return { FormatCurrency, VisitRouteByName };
  },
});
</script>