/*@import "~@fortawesome/fontawesome-free/css/all.css";*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";

///**
//white mode
// */
$primary: #3053EDFF;
$lightPrimaryColor: #3053EDFF;
$secondary: #383c48;
$lightSecondaryColor: #383c48;
$tertiary: #fafafa;
$darkerTertiary: #f1f1f1;
$lightTertiaryColor: #fafafa;
$boxShadowColor: #EAEAEA;
$lightBoxShadowColor: #EAEAEA;

$lightPrimaryColorDarkened10: darken($lightPrimaryColor, 10);
$lightPrimaryColorDarkened20: darken($lightPrimaryColor, 20);
$lightTertiaryColorDarkened1: darken($lightTertiaryColor, 1);
$lightTertiaryColorDarkened5: darken($lightTertiaryColor, 5);
$lightTertiaryColorDarkened10: darken($lightTertiaryColor, 10);
$lightTertiaryColorDarkened20: darken($lightTertiaryColor, 20);

$lightTertiaryColorTransparent15: transparentize($lightTertiaryColor, 0.15);
$lightSecondaryColorTransparent50: transparentize($lightSecondaryColor, 0.5);
// dark mode. ..

$darkPrimaryColor: #fafafa;
$darkSecondaryColor: #e7e7e7;
$darkTertiaryColor: #101026;
$darkBoxShadowColor: darken($darkTertiaryColor, 20);

$darkPrimaryColorDarkened10: darken($darkPrimaryColor, 10);
$darkPrimaryColorDarkened20: darken($darkPrimaryColor, 20);
$darkTertiaryColorDarkened1: darken($darkTertiaryColor, 1);
$darkTertiaryColorDarkened10: darken($darkTertiaryColor, 10);
$darkTertiaryColorDarkened20: darken($darkTertiaryColor, 20);

$darkTertiaryColorTransparent15: transparentize($darkTertiaryColor, 0.15);
$darkSecondaryColorTransparent50: transparentize($darkSecondaryColor, 0.5);
//
///**
//dark mode
// */
//
//  var(--secondary-color): #e7e7e7;
//  var(--tertiary-color): #101026;
//  $boxShadowColor: darken(var(--tertiary-color), 20);


[data-theme="light"] {
  --primary-color: #{$lightPrimaryColor};
  --secondary-color: #{$lightSecondaryColor};
  --tertiary-color: #{$lightTertiaryColor};
  --dark-tertiary-color: #{$darkerTertiary};
  --box-shadow-color: #{$lightBoxShadowColor};
  --primary-color-darkened-20: #{$lightPrimaryColorDarkened20};
  --tertiary-color-darkened-20: #{$lightTertiaryColorDarkened20};
  --tertiary-color-darkened-10: #{$lightTertiaryColorDarkened10};
  --tertiary-color-darkened-5: #{$lightTertiaryColorDarkened5};
  --tertiary-color-darkened-1: #{$lightTertiaryColorDarkened1};
  --tertiary-color-transparent-15: #{$lightTertiaryColorTransparent15};
  --secondary-color-transparent-50: #{$lightSecondaryColorTransparent50};
}

[data-theme="dark"] {
  --primary-color: #{$darkPrimaryColor};
  --secondary-color: #{$darkSecondaryColor};
  --tertiary-color: #{$darkTertiaryColor};
  --dark-tertiary-color: #{$darkTertiaryColor};
  --box-shadow-color: #{$darkBoxShadowColor};
  --primary-color-darkened-20: #{$darkPrimaryColorDarkened20};
  --tertiary-color-darkened-20: #{$darkTertiaryColorDarkened20};
  --tertiary-color-darkened-10: #{$darkTertiaryColorDarkened10};
  --tertiary-color-darkened-5: #{$lightTertiaryColorDarkened5};
  --tertiary-color-darkened-1: #{$darkTertiaryColorDarkened1};
  --tertiary-color-transparent-15: #{$darkTertiaryColorTransparent15};
  --secondary-color-transparent-50: #{$darkSecondaryColorTransparent50};
}


$shadow: 0 0 10px rgba(var(--primary-color), 0.33);
$shadowSecondary: 0 0 10px rgba(var(--secondary-color), 0.33);

$shadowTertiary: 0 0 10px rgba(var(--tertiary-color), 0.33);

$defaultBoxShadow: 20px 20px 60px var(--box-shadow-color),
                  -20px -20px 60px var(--tertiary-color);

$defaultBoxShadowSmaller: 0px 0px 7px var(--box-shadow-color),
                         0px 0px 7px var(--tertiary-color);

$font: 'Lexend Deca', sans-serif;

@import "bulma";
@import "tm-template.scss";

body {
  *:not(input):not(textarea):not(.is-selectable) {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  font-family: $font;
}

input.input, textarea.textarea, .file-cta {
  border-radius: 11px;
  font-family: $font;
  margin-top: 0.25rem;
  background: $white !important;

  &.is-small {
    border-radius: 7px !important;
  }
}


.file-cta {
  background: $tertiary;
}

.tabs.is-toggle li.is-active a {
  background: $primary;
  border-color: $primary;
}

.tabs li a {
  border: none !important;
  border-radius: 11px !important;
  margin-right: 1rem;
  background: white;
}
.tabs li.is-active a {
  color: $primary;
  border: none !important;
}



button.button, a.button {
  border-radius: 11px;
  &.is-small {
    border-radius: 7px !important;
  }

  font-weight: bold;
  font-family: $font;
  &.is-primary.is-inverted {
    border-color: var(--tertiary-color-darkened-5);
    &:hover {
      border-color: var(--tertiary-color-darkened-10);
    }
  }
  &.is-default {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-color: var(--tertiary-color-darkened-5);
    &:hover {
      background: var(--tertiary-color-darkened-5);
      border-color: var(--tertiary-color-darkened-10);
    }
  }
}

#app {
  background: var(--tertiary-color);
  overflow: hidden;
}

.scale-on-hover {
  transition: all 200ms;

  &:hover, &.is-active {
    transform: scale(1.1);
  }
}

.market-buttons {
  position: absolute;
  top: 1.75rem;
  left: 3rem;
  min-width: 400px;
  &.with-market-logo {
    p {
    }

  }

}
.is-borderless {
  border: none !important;
}
.v-middle {
  vertical-align: middle !important;
}

.market-logo {
  position: absolute;
  top: 1.75rem;
  left: 3rem;
  width: 122px;
}

.authentication-buttons {
  position: absolute;
  top: 1.75rem;
  right: 3rem;
  z-index: 999;
}

.has-dark-tertiary-background {
  background-color: var(--dark-tertiary-color) !important;
}

.has-text-weight-black {
  font-weight: 900 !important;
}

.has-primary-color {
  color: var(--primary-color) !important;
}

.has-secondary-color {
  color: var(--secondary-color) !important;
}

.modal {
  .modal-content {
    padding: 1.33rem;
  }
  .modal-card-body {
    border-radius: 13px !important;
    border: 1px solid var(--tertiary-color-darkened-5);
    box-shadow: $defaultBoxShadowSmaller;
    background: var(--tertiary-color);
  }
  .modal-background {
    background-color: $tertiary;
  }
}




.box {
  border-radius: 13px !important;
  border: 1px solid var(--tertiary-color-darkened-5);
  box-shadow: $defaultBoxShadowSmaller;
  background: var(--tertiary-color);
  padding: 0.65rem 1rem !important;

  transition: all 200ms;
  u, p {
    transition: all 233ms;
  }
  &.is-clickable {
    &:hover {
      background: var(--tertiary-color-darkened-5);
      border: 1px solid var(--tertiary-color-darkened-10);
      u {
        color: $primary;
      }
      p{
        color: $secondary;
      }
    }
  }


  &.is-smaller-box {
    padding: 0.5rem 0.75rem !important;
  }

  &.is-extra-smaller-box {
    padding: 0.35rem !important;
  }


  &.clickable-grows {
    transition: all 200ms;

    &.is-clickable:hover {
      transform: scale(1.02);
    }
  }

  &.media {
    border: none;
  }
  &.tab-box {
    transition: all 200ms;
    box-shadow: none !important;
    background-color: hsl(0, 0%, 100%) !important;
    border: none;
  }
}


.line-height-normalized {
  line-height: normal !important;
}


.br-r-b-d { border-bottom-right-radius: 26px; }
.br-l-t-d { border-top-left-radius: 26px; }
.br-r-t-d { border-top-right-radius: 26px; }
.br-l-b-d { border-bottom-left-radius: 26px; }

.has-diamond-background {

}



.team-avatar-image {
  width: 71px;
  height: 71px;
  border-radius: 13px;
  border: 1px solid var(--tertiary-color-darkened-10);
  background-size: cover;
  background-position: center center;
}
.hero-with-get-in-touch {
  background-image: url('/static/images/hands.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media all and (max-width: $desktop) {
  .hero-with-get-in-touch {
    background-image: none;
  }
}

.tag {
  &.is-info {
    background-color: transparentize($secondary, 0.1) !important;
    color: $tertiary !important;
  }
}

.has-fixed-mt {
  margin-top: calc(1rem + 100px);
}
.team-members{
  .box{
    display: flex;
    align-items: center;
  }
}
