@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


///**
//white mode
// */
$primary: #3053EDFF;
$lightPrimaryColor: #3053EDFF;
$secondary: #383c48;
$lightSecondaryColor: #383c48;
$tertiary: #fafafa;
$darkerTertiary: #f1f1f1;
$lightTertiaryColor: #fafafa;
$boxShadowColor: #EAEAEA;
$lightBoxShadowColor: #EAEAEA;

$lightPrimaryColorDarkened10: darken($lightPrimaryColor, 10);
$lightPrimaryColorDarkened20: darken($lightPrimaryColor, 20);
$lightTertiaryColorDarkened1: darken($lightTertiaryColor, 1);
$lightTertiaryColorDarkened10: darken($lightTertiaryColor, 10);
$lightTertiaryColorDarkened20: darken($lightTertiaryColor, 20);

$lightTertiaryColorTransparent15: transparentize($lightTertiaryColor, 0.15);
$lightSecondaryColorTransparent50: transparentize($lightSecondaryColor, 0.5);
// dark mode. ..

$darkPrimaryColor: #fafafa;
$darkSecondaryColor: #e7e7e7;
$darkTertiaryColor: #101026;
$darkBoxShadowColor: darken($darkTertiaryColor, 20);

$darkPrimaryColorDarkened10: darken($darkPrimaryColor, 10);
$darkPrimaryColorDarkened20: darken($darkPrimaryColor, 20);
$darkTertiaryColorDarkened1: darken($darkTertiaryColor, 1);
$darkTertiaryColorDarkened10: darken($darkTertiaryColor, 10);
$darkTertiaryColorDarkened20: darken($darkTertiaryColor, 20);

$darkTertiaryColorTransparent15: transparentize($darkTertiaryColor, 0.15);
$darkSecondaryColorTransparent50: transparentize($darkSecondaryColor, 0.5);
//
///**
//dark mode
// */
//
//  var(--secondary-color): #e7e7e7;
//  var(--tertiary-color): #101026;
//  $boxShadowColor: darken(var(--tertiary-color), 20);


[data-theme="light"] {
  --primary-color: #{$lightPrimaryColor};
  --secondary-color: #{$lightSecondaryColor};
  --tertiary-color: #{$lightTertiaryColor};
  --dark-tertiary-color: #{$darkerTertiary};
  --box-shadow-color: #{$lightBoxShadowColor};
  --primary-color-darkened-20: #{$lightPrimaryColorDarkened20};
  --tertiary-color-darkened-20: #{$lightTertiaryColorDarkened20};
  --tertiary-color-darkened-10: #{$lightTertiaryColorDarkened10};
  --tertiary-color-darkened-1: #{$lightTertiaryColorDarkened1};
  --tertiary-color-transparent-15: #{$lightTertiaryColorTransparent15};
  --secondary-color-transparent-50: #{$lightSecondaryColorTransparent50};
}

[data-theme="dark"] {
  --primary-color: #{$darkPrimaryColor};
  --secondary-color: #{$darkSecondaryColor};
  --tertiary-color: #{$darkTertiaryColor};
  --dark-tertiary-color: #{$darkTertiaryColor};
  --box-shadow-color: #{$darkBoxShadowColor};
  --primary-color-darkened-20: #{$darkPrimaryColorDarkened20};
  --tertiary-color-darkened-20: #{$darkTertiaryColorDarkened20};
  --tertiary-color-darkened-10: #{$darkTertiaryColorDarkened10};
  --tertiary-color-darkened-1: #{$darkTertiaryColorDarkened1};
  --tertiary-color-transparent-15: #{$darkTertiaryColorTransparent15};
  --secondary-color-transparent-50: #{$darkSecondaryColorTransparent50};
}


$shadow: 0 0 10px rgba(var(--primary-color), 0.33);
$shadowSecondary: 0 0 10px rgba(var(--secondary-color), 0.33);
$shadowTertiary: 0 0 10px rgba(var(--tertiary-color), 0.33);

$defaultBoxShadow: 20px 20px 60px var(--box-shadow-color),
-20px -20px 60px var(--tertiary-color);

$font: "Lato";


@import "bulma-slider";
@import "bulma";
@import "bulma-tooltip";
@import "bulma-checkradio";
@import "flag-icons";
@import "~vue-wysiwyg/dist/vueWysiwyg.css";


body {
  *:not(input):not(textarea):not(.is-selectable) {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

  }

}

#app {
  background: var(--tertiary-color);
  overflow: hidden;
}

button.button, a.button {
  font-family: $font;
  border-radius: 26px;
  background: var(--tertiary-color);
  border: none;
  box-shadow: $defaultBoxShadow;
  transition: all 250ms;

  &.is-small {
    border-radius: 13px !important;
  }

  span {
    color: var(--tertiary-color);
  }

  &.is-default {
    border: none;
    box-shadow: $defaultBoxShadow;
    -webkit-box-shadow: $defaultBoxShadow;
    -moz-box-shadow: $defaultBoxShadow;
    background: var(--tertiary-color);

    span {
      color: var(--secondary-color) !important;
    }

    &:hover, &[disabled] {
      background: var(--box-shadow-color) !important;
      border: none;
      box-shadow: $defaultBoxShadow;
      -webkit-box-shadow: $defaultBoxShadow;
      -moz-box-shadow: $defaultBoxShadow;
      background: var(--tertiary-color);
    }

    &:focus:not([disabled]), &:active:not([disabled]), &:focus:active:not([disabled]) {
      outline: none;
      box-shadow: $defaultBoxShadow;
      -webkit-box-shadow: $defaultBoxShadow;
      -moz-box-shadow: $defaultBoxShadow;
      background: var(--tertiary-color);
    }
  }

  &.is-primary {
    background: var(--primary-color);
    color: var(--tertiary-color);

    &:hover, &[disabled] {
      background: var(--primary-color-darkened-20) !important;
      color: var(--tertiary-color) !important;
    }


    &[disabled] {

    }

  }


}


.media-image-speaker {
  max-height: 90px
}

.course-speaker {
  width: 90px;
  max-width: 90px;
  border-radius: 100%;
}

.dropdown {
  &.is-fullwidth {
    width: 100% !important;

    .dropdown-trigger {
      width: 100% !important;

      span.icon {
        margin-left: calc(-0.4em);
      }

      .dropdown-button-label {
        font-weight: 100;
        opacity: 0.5;
        margin-left: 0.7rem;
      }
    }

    button.button {
      justify-content: left;
    }
  }

  button.button {
    border: none;
    //font-weight: lighter;
    span {
      color: var(--secondary-color) !important;
    }

    &:hover {
      background: var(--tertiary-color);
      box-shadow: $defaultBoxShadow;
    }

    &:focus:not([disabled]), &:active:not([disabled]), &:focus:active:not([disabled]) {
      outline: none;
      background: var(--tertiary-color);
      box-shadow: $defaultBoxShadow;
    }
  }

  &.is-active {
    button.button {
      border-color: var(--primary-color) !important;
      background: var(--box-shadow-color) !important;
      box-shadow: $defaultBoxShadow;
      -webkit-box-shadow: $defaultBoxShadow;
      -moz-box-shadow: $defaultBoxShadow;
      background: var(--tertiary-color);
    }

    .dropdown-trigger {
      z-index: 8;
    }
  }

  .dropdown-menu {
    min-width: 100%;
    z-index: 8;

  }

  .dropdown-content {
    border-radius: 26px;
    background: var(--tertiary-color);
    box-shadow: $defaultBoxShadow;
    max-height: 330px;
    overflow-y: scroll;
    padding: 1rem 0.75rem;

    input.is-small {
      border-radius: 13px !important;
    }

    .dropdown-item {
      border-radius: 13px !important;
      margin-top: 3px;

      &:hover {
        background: var(--tertiary-color-darkened-10) !important;
        span {
          //color: var(--tertiary-color) !important;
        }
      }

      &.is-active {
        background: var(--primary-color) !important;

        span {
          color: var(--tertiary-color) !important;
        }
      }
    }
  }
}

.top-bar {
  font-family: $font;
  display: flex;
  margin-top: 5em;
  align-items: center;

  .is-logo-title-eapply {
    display: flex;
    font-size: 4.75rem;
  }

  .dropdown {
    margin-left: 2em;

    div[role="button"] .button.is-white {
      margin-left: 0 !important;
    }
  }

  .button.is-white,
  .dropdown div[role="button"] .button.is-white {
    transition: transform 250ms, box-shadow 250ms;
    margin-left: 2em;

    &:nth-child(2) {
      margin-left: auto;
    }

    &:hover {
      box-shadow: 0 0 40px 0px #c3c2e055 !important;
      transform: scale(1.05) !important;
    }
  }
}


.modal-content {
  .box {
    box-shadow: none;
  }
}

.lead {
  color: var(--secondary-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.75rem;
  font-family: $font;

  strong {
    color: var(--primary-color);
    font-weight: 900;
  }
}

.box-scf {
  background: transparent;
  padding: 10vh 0 11vh;
  text-align: center;
  border-radius: 25px;
  transition: all 500ms;

  &:hover {
    box-shadow: 0 0 100px rgba(var(--primary-color), 0.5);
    transform: scale(1.05);
  }
}

.is-search-field {
  .control.is-search-control {
    width: 90%;
  }

  .control.is-action-control {
    width: 10% !important;
  }

  &.shorter {
    .control.is-search-control {
      width: 80%;
    }

    .control.is-action-control {
      width: 20% !important;
    }
  }

  span {
    font-size: 1.7rem;
    color: var(--secondary-color) !important;
  }

  button {
    width: 100%;
    height: 100%;

    span {
      color: var(--tertiary-color) !important;
    }
  }
}


input.input, textarea.textarea {
  transition: all 250ms;
  border-radius: 26px;
  font-size: 1.7rem;
  height: auto;
  border: none;
  background: var(--tertiary-color);
  box-shadow: $defaultBoxShadow;
  outline: none;
  color: var(--secondary-color);

  &:hover:not([disabled]) {
    border-width: 2px;
    background: var(--tertiary-color);
  }

  &:hover, &[disabled] {
    background: var(--box-shadow-color) !important;
    border: none;
    box-shadow: $defaultBoxShadow;
    -webkit-box-shadow: $defaultBoxShadow;
    -moz-box-shadow: $defaultBoxShadow;
    background: var(--tertiary-color);
  }

  &:focus:not([disabled]), &:active:not([disabled]), &:focus:active:not([disabled]) {
    background: var(--box-shadow-color) !important;
    border: none;
    box-shadow: $defaultBoxShadow;
    -webkit-box-shadow: $defaultBoxShadow;
    -moz-box-shadow: $defaultBoxShadow;
    background: var(--tertiary-color);
  }

  &.is-small {
    border-radius: 13px !important;
  }
}

.scale-on-hover {
  transition: all 200ms;

  &:hover, &.is-active {
    transform: scale(1.1);
  }
}

.apply-button-mobile {
  position: fixed;
  bottom: 1rem;
  left: 0.75rem;
  margin-left: 0 !important;
  width: calc(100% - 1.5rem);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--secondary-color-transparent-50) !important;
  font-family: $font;
  font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
  color: var(--secondary-color-transparent-50) !important;
  font-family: $font;
  font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
  color: var(--secondary-color-transparent-50) !important;
  font-family: $font;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--secondary-color-transparent-50) !important;
  font-family: $font;
  font-weight: 300;
}


.is-loading-letters {
  .l {
    animation: skew 750ms infinite;
    display: inline-block;
  }
}

@keyframes skew {
  0% {
    transform: skew(5deg, -5deg);
  }
  10% {
    transform: skew(10deg, -10deg);
  }
  20% {
    transform: skew(5deg, -5deg);
  }
  30% {
    transform: skew(0deg, 0deg);
  }
  40% {
    transform: skew(-5deg, 5deg);
  }
  50% {
    transform: skew(-10deg, 10deg);
  }
  60% {
    transform: skew(-5deg, 5deg);
  }
  70% {
    transform: skew(0deg, 0deg);
  }
  80% {
    transform: skew(5deg, -5deg);
  }
  90% {
    transform: skew(10deg, -10deg);
  }
  100% {
    transform: skew(5deg, -5deg);
  }
}

.is-easyapply-box {
  background-image: linear-gradient(
                  -146deg,
                  #0657ff 0%,
                  #002f9b 50%,
                  #130079 90%
  );
  box-shadow: $shadow;
  color: $white-ter;

  .job-contents {
    strong {
      color: $white-ter;
    }

    h1 {
      font-size: $size-2 !important;
      padding-bottom: 0.25rem;
    }

    h2 {
      font-size: $size-2 !important;
      padding-bottom: 0.25rem;
    }

    h3 {
      font-size: $size-4 !important;
      padding-bottom: 0.25rem;
    }

    h4 {
      font-size: $size-5 !important;
      padding-bottom: 0.25rem;
    }

    h6 {
      font-size: $size-6 !important;
      padding-bottom: 0.25rem;
    }

    ul {
      list-style-type: disc;
      list-style-position: outside;
      margin-left: 25px;

    }

    ol {
      list-style-position: outside;
      list-style-type: decimal;
      margin-left: 25px;

    }
  }
}

.my-rem-7 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

.mt-rem-7 {
  margin-top: 7rem !important;
}

.mb-rem-7 {
  margin-bottom: 7rem !important;
}

.mt-rem-3 {
  margin-top: 3rem !important;
}

.mb-rem-3 {
  margin-bottom: 3rem !important;
}

.is-easyapply-title {
  font-size: 7.75rem;
  line-height: 8rem;
}

.is-easyapply-subtitle {
  font-size: 2.75rem;
  line-height: 3rem;
}

.is-mobile-visible,
.is-mobile-visible-inline,
.is-desktop-visible,
.is-desktop-visible-inline {
  display: none;
}

// new loading 

.loading-form {
  position: absolute;
  top: 0;
  right: 0;
}

.loading {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading span {
  position: absolute;
  border-radius: 50%;
  animation: a1 2.5s linear infinite;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
}

.loading span:nth-child(2) {
  animation-delay: 0.5s;
}

.loading span:nth-child(3) {
  animation-delay: 1s;
}

.loading span:nth-child(4) {
  animation-delay: 1.5s;
}

.loading span:nth-child(5) {
  animation-delay: 2s;
}

.loading span:nth-child(6) {
  animation-delay: 2.5s;
}

@keyframes a1 {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: inset 0 0 50px rgba(255, 255, 255, .5);
  }
  100% {
    width: 0;
    height: 0;
    opacity: 1;
    box-shadow: inset 0 0 50px rgba(2, 57, 180, 1);
  }
}

.is-mobile-fluid {
  min-height: 100vh;
}

// hide scrollbar
.modal-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

#GetInTouchForm,
#SubscribeNewsletterForm,
#RecruiterForm,
#Disclaimer {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.not-allowed {
  cursor: not-allowed;
}

.disable-pointer-event {
  pointer-events: none !important;
}

@media all and (max-width: $fullhd) {
  .is-mobile-fluid {
    max-width: none !important;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    min-height: 100vh;
  }

  .is-easyapply-title {
    font-size: 5.5rem;
    line-height: 6rem;
  }
  .is-easyapply-subtitle {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .is-mobile-visible {
  }

  .my-rem-7 {
    margin-top: 5.5rem !important;
    margin-bottom: 5.5rem !important;
  }
  .mt-rem-7 {
    margin-top: 5.5rem !important;
  }
  .mb-rem-7 {
    margin-bottom: 5.5rem !important;
  }

  .mt-rem-3 {
    margin-top: 2.5rem !important;
  }

  .mb-rem-3 {
    margin-bottom: 3.25rem !important;
  }
  .box-scf {
    button {
      font-size: 0.8rem;
    }

    .is-size-5 {
      font-size: 1rem !important;
    }
  }
}

@media all and (max-width: $desktop) {
  .loading {
    width: 100px;
    height: 100px;
  }
  .is-desktop-visible {
    display: inline-block !important;
  }
  .is-desktop-visible-inline {
    display: inline !important;
  }
  #RecruiterForm, #Disclaimer {
    width: 100%;
  }

}

@media all and (max-width: $tablet) {
  .loading {
    width: 100px;
    height: 100px;
  }
  .is-mobile-fluid {
    max-width: none !important;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    min-height: 100vh;
  }

  .is-logo-title-eapply {
    font-size: 2.75rem !important;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .is-easyapply-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .is-easyapply-subtitle {
    font-size: 1.65rem;
    line-height: 1.9rem;
  }

  .is-mobile-visible {
    display: inline-block !important;
  }
  .is-mobile-visible-inline {
    display: inline !important;
  }

  .my-rem-7 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
  .mt-rem-7 {
    margin-top: 2.5rem !important;
  }
  .mb-rem-7 {
    margin-bottom: 2.5rem !important;
  }

  .mt-rem-3 {
    margin-top: 1rem !important;
  }

  .mb-rem-3 {
    margin-bottom: 1.75rem !important;
  }
  .box-scf {
    button {
      font-size: 0.8rem;
    }
  }
  #RecruiterForm, #Disclaimer {
    width: 100%;
  }
}


.modal.my-larger-modal {
  .modal-content {
    width: 80vw !important;
  }
}

@media all and (max-width: $tablet) {
  .modal.my-larger-modal {
    .modal-content {
      width: 97vw !important;
    }
  }

  .lead {
    font-size: 3rem;
    line-height: 2.8rem;
  }

}


.is-half-fullwidth {
  width: 50%;
}

/**
new version
 */

/*

TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

*/

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 19px;
  overflow-x: hidden;
}

p, span {
  color: var(--secondary-color);
}

hr {
  border-top-color: #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control::-webkit-input-placeholder {
  color: var(--secondary-color);
}

.form-control:-ms-input-placeholder {
  color: var(--secondary-color);
}

.form-control::placeholder {
  color: var(--secondary-color);
}

.tm-header {
  background: var(--tertiary-color);
  box-shadow: $defaultBoxShadow;
  -webkit-box-shadow: $defaultBoxShadow;
  -moz-box-shadow: $defaultBoxShadow;
  color: white;
  position: fixed;
  font-family: $font;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 21;
  width: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tm-header-wrapper {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.tm-header-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tm-site-header {
  margin-top: 50px;
  margin-bottom: 65px;
}

.tm-site-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-site-logo i {
  color: var(--primary-color);
}

.tm-main {
  font-family: $font;
  /*margin-left: 400px;*/
  padding: 60px 70px 25px;
}


.tm-row {
  max-width: 980px;
  justify-content: space-between;
}

.tm-nav {
  margin-bottom: 100px;
}

.tm-nav-item {
  list-style: none;
  margin-bottom: 30px;
}

.tm-nav-link {
  color: var(--primary-color);
  background-color: transparent;
  height: 75px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid transparent;
  margin-left: -3px;

}

.tm-nav-item:hover .tm-nav-link,
.tm-nav-item.active .tm-nav-link {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: var(--tertiary-color-darkened-1);
  text-decoration: none;
}

.tm-nav ul {
  position: relative;
}

//.tm-nav-item:hover:after,
//.tm-nav-item.active:after {
//  content: '';
//  width: 100%;
//  max-width: 300px;
//  height: 75px;
//  display: block;
//  border: 1px solid var(--primary-color);
//  margin-left: 5px;
//  margin-top: -60px;
//  position: absolute;
//  z-index: -1000;
//  border-radius: 26px;
//
//}

.tm-nav-link i {
  margin-right: 37px;
}

ul {
  margin: 0;
  padding: 0;
}

.tm-nav {
  margin-left: -30px;
}

.tm-social-link {
  display: inline-block;
  background-color: white;
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.tm-social-icon {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.tm-social-link:hover .tm-social-icon.fa-facebook {
  color: #3b5998;
}

.tm-social-link:hover .tm-social-icon.fa-twitter {
  color: #00acee;
}

.tm-social-link:hover .tm-social-icon.fa-instagram {
  color: #3f729b;
}

.tm-social-link:hover .tm-social-icon.fa-linkedin {
  color: #0e76a8;
}

.navbar-toggler {
  display: none;
}

.tm-search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-inline .form-control.tm-search-input {
  display: block;
  height: 60px;
  width: 480px;
  margin-right: 30px;
  border-radius: 0;
  border-color: var(--primary-color);
  font-size: 1.2rem;
}

.tm-search-button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.tm-search-button:hover {
  background-color: var(--primary-color);
}

.tm-search-icon {
  color: white;
  font-size: 1.3rem;
}

.tm-post-link {
  display: block;
  position: relative;
  cursor: pointer;
}

.tm-post-link-inner {
  overflow: hidden;
  background: #3085a3;
}

.tm-post-link img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.effect-lily:hover img {
  opacity: 1;
}

.effect-lily:hover img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-new-badge {
  background-color: var(--primary-color);
  color: white;
  padding: 3px 10px;
  font-size: 12px;
}

.tm-post-title {
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.tm-h3 {
  font-size: 1.3rem;
  color: var(--secondary-color);
}

.tm-post-link:hover .tm-post-title {
  color: var(--primary-color);
}

.tm-btn {
  display: inline-block;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.tm-btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 43px;
  border: none;
}

.tm-btn-small {
  padding: 8px 33px;
}

.tm-btn-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

.tm-paging-nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.tm-paging-nav ul li:last-child {
  margin-right: 0;
}

.tm-paging-link {
  background-color: #F0F0F0;
  color: var(--secondary-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-paging-item .tm-paging-link:hover,
.tm-paging-item.active .tm-paging-link {
  background-color: var(--primary-color);
  color: white;
}

.tm-btn.disabled {
  background-color: #F0F0F0;
  color: var(--secondary-color);
  cursor: not-allowed;
}

.tm-external-link {
  color: var(--primary-color);
}

.tm-external-link:hover {
  color: var(--primary-color);
}

.tm-paging-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tm-prev-next-wrapper,
.tm-paging-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.tm-copyright {
  text-align: right;
}

/* Single Post page */
hr.tm-hr-primary {
  border-top: 5px solid var(--primary-color);
}

video {
  width: 100%;
  height: auto;
}

.tm-comment {
  display: flex;
  align-items: flex-start;
}

.tm-comment-figure {
  margin-top: 10px;
  margin-right: 30px;
}

.tm-comment-reply {
  padding-left: 37px;
}

.form-control {
  height: 45px;
  border-color: var(--primary-color);
  border-radius: 0;
}

.tm-comment-form {
  max-width: 360px;
}

.tm-category-list {
  list-style-type: none;
}

figure {
  margin: 0;
}

figcaption {
  line-height: 1.4;
}

.tm-post-full {
  max-width: 600px;
}

.tm-post-sidebar {
  max-width: 280px;
  margin-left: auto;
  margin-right: 0;
}

.tm-pt-20 {
  padding-top: 20px;
}

.tm-pt-30 {
  padding-top: 30px;
}

.tm-pt-45 {
  padding-top: 45px;
}

.tm-pt-60 {
  padding-top: 60px;
}

.tm-mb-40 {
  margin-bottom: 40px;
}

.tm-mb-45 {
  margin-bottom: 45px;
}

.tm-mb-55 {
  margin-bottom: 55px;
}

.tm-mb-60 {
  margin-bottom: 60px;
}

.tm-mb-65 {
  margin-bottom: 65px;
}

.tm-mb-75 {
  margin-bottom: 75px;
}

.tm-mb-80 {
  margin-bottom: 80px;
}

.tm-mb-120 {
  margin-bottom: 120px;
}

.tm-mt-40 {
  margin-top: 40px;
}

.tm-mt-100 {
  margin-top: 100px;
}

.tm-mr-20 {
  margin-right: 20px;
}

.tm-color-primary, span.tm-color-primary {
  color: var(--primary-color);
}

a.tm-color-gray, .tm-color-gray {
  color: var(--secondary-color);
}

a.tm-color-gray:hover {
  color: #099;
}

.tm-bg-gray {
  background-color: #F3F4F5;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #048c8c;
}

a:hover figcaption {
  color: #056767;
}

.img-thumbnail {
  max-width: none;
}

.tm-about-pad {
  padding: 40px 35px;
}

.tm-person {
  max-width: 430px;
}

.tm-line-height-short {
  line-height: 1.8;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 477px;
  width: 100%;
}

.tm-social-links li {
  list-style: none;
  display: inline-block;
}

.tm-social-links li a {
  display: block;
  color: white;
  background-color: var(--primary-color);
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.tm-social-links li a i {
  transition: all 0.3s ease;
}

.tm-social-links li a:hover i.fa-facebook {
  color: #3b5998;
}

.tm-social-links li a:hover i.fa-twitter {
  color: #00acee;
}

.tm-social-links li a:hover i.fa-youtube {
  color: #c4302b;
}

.tm-social-links li a:hover i.fa-instagram {
  color: #3f729b;
}

.tm-contact-right {
  padding-left: 55px;
}

.tm-contact-form {
  max-width: 488px;
}

.tm-contact-form input,
.tm-contact-form textarea {
  max-width: 360px;
}

.tm-contact-form label {
  font-size: 1.4rem;
}

.tm-contact-form .form-group {
  display: flex;
}

@media (max-width: 1540px) {
  .tm-header {
    width: 320px;
  }

  .tm-main {
    /* margin-left: 320px;
    width: calc(100% - 320px); */
  }
}

@media (max-width: 1300px) {
  .tm-about-col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1288px) {
  .tm-social-link {
    margin-right: 10px;
  }
}

@media (max-width: 1199px) {
  .tm-post-sidebar {
    max-width: 440px;
  }
  .form-inline .form-control.tm-search-input {
    width: 420px;
  }
}

@media (max-width: 1086px) {
  .form-inline .form-control.tm-search-input {
    width: 80%;
    margin-right: 15px;
  }
}

/* Hide sidebar */
@media (max-width: 991px) {
  .tm-header {
    width: 320px;
    left: -320px;
    transition: all 0.3s ease;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .tm-header.show {
    left: 0;
    box-shadow: $defaultBoxShadow;
    -webkit-box-shadow: $defaultBoxShadow;
    -moz-box-shadow: $defaultBoxShadow;
  }
  .tm-header-wrapper {
    padding: 15px;
  }

  .navbar-toggler {
    display: block;
    position: fixed;
    left: 0.5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);

    span {
      color: var(--primary-color);
    }

    padding: 12px;
    transition: all 0.3s ease;
    top: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    z-index: 20 !important;
  }

  .tm-header.show .navbar-toggler {
    left: calc(320px - 1.75rem);
  }

  .tm-main {
    margin-left: 0;
    padding: 50px 40px;
    width: 100%;
  }

  .tm-post-sidebar {
    margin-left: 0;
    margin-right: auto;
  }

  .tm-person-col {
    width: 50%;
  }
  .tm-person {
    flex-direction: row;
  }

  .tm-contact-left {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .tm-contact-right {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .tm-post-full {
    max-width: none;
  }
}

@media (max-width: 767px) {
  .form-inline .form-control.tm-search-input {
    width: 70%;
    max-width: 375px;
    margin-right: 15px;
  }

  .tm-search-form {
    justify-content: flex-start;
  }
  .tm-main {
    padding: calc(50px + 1rem + 20px) 20px;
  }

  .tm-prev-next-wrapper,
  .tm-paging-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tm-paging-wrapper {
    margin-top: 50px;
    justify-content: flex-start;
  }

  .tm-copyright {
    text-align: left;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .tm-person-col,
  .tm-contact-left,
  .tm-contact-right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tm-contact-right {
    padding-left: 15px;
  }

  .tm-post-col,
  .tm-aside-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tm-post-sidebar {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 709px) {
  .tm-person-col {
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 826px) {
  .tm-about-col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .tm-person {
    flex-direction: row;
  }
}

@media (max-width: 630px) {
  .tm-contact-left,
  .tm-contact-right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tm-contact-right {
    padding-left: 15px;
  }
}

@media (max-width: 575px) {
  .tm-contact-form input,
  .tm-contact-form textarea {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .tm-person-col {
    width: 100%;
  }
  .tm-person {
    flex-direction: row;
  }
}

@media (max-width: 380px) {
  .tm-person img {
    max-width: 120px;
  }
}

.disclaimer {
  font-size: 11px;
}



.half-button {
  width: 49%;

  &.ml-1-pct {
    margin-left: 1%;
  }

  &.mr-1-pct {
    margin-right: 1%;
  }
}

@media all and (max-width: $tablet) {
  .half-button {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.notices {
  position: fixed;
  z-index: 999;
  top: 2rem;
  width: 80%;
  right: 1.5rem;


  .toast.is-primary,
  .snackbar.is-primary,
  .toast.is-white,
  .snackbar.is-white,
  .toast.is-danger,
  .snackbar.is-danger {
    width: 300px;
    padding: 1.5rem 2rem;
    font-weight: 900;
    float: right;
    border-radius: 26px;

    button {
      background: var(--tertiary-color) !important;;
      font-weight: 900;
      margin-top: 0.75rem;
      box-shadow: none !important;
    }
  }

  .toast.is-primary,
  .snackbar.is-primary {

    background: var(--primary-color);
    color: var(--tertiary-color);

    p {
      color: var(--tertiary-color) !important;
    }

    button {
      background: var(--tertiary-color) !important;;
    }

  }

  .toast.is-danger,
  .snackbar.is-danger {

    background: $danger;
    color: var(--tertiary-color);

    p {
      color: var(--tertiary-color) !important;
    }

    button {
      background: var(--tertiary-color) !important;;
    }

  }

  .toast.is-white,
  .snackbar.is-white {

    background: $grey-dark;
    color: var(--tertiary-color);

    p {
      color: var(--tertiary-color) !important;
    }

    button {
      background: var(--tertiary-color) !important;;
    }

  }

}

.call-to-action-homepage-x {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  button {
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
    white-space: break-spaces;
    line-height: 1.5rem;
    text-align: left;
  }

  .icon {
    margin-right: 2rem !important;
  }
}

.is-opportunity-box-apply-button {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  max-width: calc(100% - 4rem);
}

.buttons-is-authenticated-apply-button {
  .is-opportunity-box-apply-button {
    max-width: calc(75% - 2.01rem);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .is-opportunity-box-apply-button-options {
    max-width: calc(25% - 2.01rem);
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.is-adv-image {
  border-radius: 26px;
}

.is-social-icons-buttons {
  button, a {
    width: 40px;
    height: 40px;
  }
}

.action.is-primary {
  button.button {

    border: none;
    box-shadow: $defaultBoxShadow;
    -webkit-box-shadow: $defaultBoxShadow;
    -moz-box-shadow: $defaultBoxShadow;
    background: var(--tertiary-color);
    color: var(--secondary-color) !important;

    span {
      color: var(--secondary-color) !important;
    }

    &:hover, &[disabled] {
      background: var(--box-shadow-color) !important;
      border: none;
      box-shadow: $defaultBoxShadow;
      -webkit-box-shadow: $defaultBoxShadow;
      -moz-box-shadow: $defaultBoxShadow;
      background: var(--tertiary-color);
    }

    &:focus:not([disabled]), &:active:not([disabled]), &:focus:active:not([disabled]) {
      outline: none;
      box-shadow: $defaultBoxShadow;
      -webkit-box-shadow: $defaultBoxShadow;
      -moz-box-shadow: $defaultBoxShadow;
      background: var(--tertiary-color);
    }

  }

}

.line-height-normal {
  line-height: 2rem !important;
}



.is-mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(50px + 1rem);
  background-color: var(--tertiary-color);
  box-shadow: $defaultBoxShadow;
  z-index: 11;
}

.user-auto-bio {
  resize: none;
}

.account-avatar {
  position: relative;
  width: 100%;
  height: 300px;
  margin: auto auto;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  border-radius: 26px;
  //border: 3px solid var(--tertiary-color);
  overflow: hidden;
  box-shadow: $defaultBoxShadow;

  .user-name {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 2px);
    background: var(--tertiary-color);
    border-top: 3px solid var(--tertiary-color);
    color: var(--secondary-color);
    z-index: 9;
    line-height: normal;
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    input {

    }
  }

  .edit-avatar-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--primary-color);

    span {
      color: var(--tertiary-color);
    }
  }
}

.tag {
  &.is-default {
    background-color: var(--box-shadow-color) !important;
    color: var(--secondary-color) !important;
    &.is-clickable {
      &:hover {
        background-color: var(--secondary-color) !important;
        color: var(--tertiary-color) !important;
        span {
          color: var(--tertiary-color) !important;
        }
      }
    }
  }
  &.is-primary {
    background-color: var(--primary-color) !important;
    color: var(--tertiary-color) !important;
    span {
      color: var(--tertiary-color) !important;
    }
  }
}

.tabs {
  li, a {
    transition: all 250ms;
  }
  li.is-active {
    transition: all 250ms;
    span {
      color: var(--primary-color);
    }
  }
}

.react-code-input {
  text-align: center;
  width: 100% !important;
}

.react-code-input-container {
  width: 100% !important;

  .loading {
    width: 100%;
    height: 100%;
  }
}

.is-avatar-icon-login-box {
  width: 85px;
  height: 85px;
  background-size: cover;

}





.has-tertiary-color {
  color: var(--tertiary-color) !important;
}

.content {
  strong, p, ul, li, div {
    color: var(--secondary-color);
  }
}

.is-checkradio[type=checkbox].is-primary:checked+label:after,
.is-checkradio[type=checkbox].is-primary:hover:not([disabled])+label:before {
  border-color: var(--primary-color) !important;
}

#applications-selected {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: auto;
  text-align: start;
  line-height: normal;
  padding-bottom: 1rem;
}

.editr {
  border-radius: 13px;
  overflow: hidden;
}
.editr--content {
  font-size: 16px;
  padding: 1rem;
  min-height: 300px;
}


.is-custom-flex-column {
  align-items: center; overflow: hidden; min-height: 105vh; display: flex;
  &.light { background: var(--dark-tertiary-color); }
  &.secondary { background: var(--secondary-color); }
  &.primary { background: var(--primary-color); }
  &.not-centered {
    align-items: start;
  }
}

@media all and (max-width: $tablet) {
  .is-custom-flex-column {
    min-height: 50vh;
  }
}



.border-radius-13px { border-radius: 13px !important; }

.table-align-middle {
  vertical-align: middle !important;
}

.reverse-columns {
  flex-direction: column-reverse;
  display: flex;
}