
.tm-header {
  background: var(--tertiary-color);
  box-shadow: $defaultBoxShadow;
  -webkit-box-shadow: $defaultBoxShadow;
  -moz-box-shadow: $defaultBoxShadow;
  color: white;
  position: fixed;
  font-family: $font;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 21;
  width: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tm-header-wrapper {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.tm-header-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tm-site-header {
  margin-top: 50px;
  margin-bottom: 65px;
}

.tm-site-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-site-logo i {
  color: var(--primary-color);
}

.tm-main {
  font-family: $font;
  /*margin-left: 400px;*/
  padding: 60px 70px 25px;
}


.tm-row {
  max-width: 980px;
  justify-content: space-between;
}

.tm-nav {
  margin-bottom: 100px;
}

.tm-nav-item {
  list-style: none;
  margin-bottom: 30px;
}

.tm-nav-link {
  color: var(--primary-color);
  background-color: transparent;
  height: 75px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid transparent;
  margin-left: -3px;

}

.tm-nav-item:hover .tm-nav-link,
.tm-nav-item.active .tm-nav-link {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: var(--tertiary-color-darkened-1);
  text-decoration: none;
}

.tm-nav ul {
  position: relative;
}

//.tm-nav-item:hover:after,
//.tm-nav-item.active:after {
//  content: '';
//  width: 100%;
//  max-width: 300px;
//  height: 75px;
//  display: block;
//  border: 1px solid var(--primary-color);
//  margin-left: 5px;
//  margin-top: -60px;
//  position: absolute;
//  z-index: -1000;
//  border-radius: 26px;
//
//}

.tm-nav-link i {
  margin-right: 37px;
}

ul {
  margin: 0;
  padding: 0;
}

.tm-nav {
  margin-left: -30px;
}

.tm-social-link {
  display: inline-block;
  background-color: white;
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.tm-social-icon {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.tm-social-link:hover .tm-social-icon.fa-facebook {
  color: #3b5998;
}

.tm-social-link:hover .tm-social-icon.fa-twitter {
  color: #00acee;
}

.tm-social-link:hover .tm-social-icon.fa-instagram {
  color: #3f729b;
}

.tm-social-link:hover .tm-social-icon.fa-linkedin {
  color: #0e76a8;
}

.navbar-toggler {
  display: none;
}

.tm-search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-inline .form-control.tm-search-input {
  display: block;
  height: 60px;
  width: 480px;
  margin-right: 30px;
  border-radius: 0;
  border-color: var(--primary-color);
  font-size: 1.2rem;
}

.tm-search-button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.tm-search-button:hover {
  background-color: var(--primary-color);
}

.tm-search-icon {
  color: white;
  font-size: 1.3rem;
}

.tm-post-link {
  display: block;
  position: relative;
  cursor: pointer;
}

.tm-post-link-inner {
  overflow: hidden;
  background: #3085a3;
}

.tm-post-link img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.effect-lily:hover img {
  opacity: 1;
}

.effect-lily:hover img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-new-badge {
  background-color: var(--primary-color);
  color: white;
  padding: 3px 10px;
  font-size: 12px;
}

.tm-post-title {
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.tm-h3 {
  font-size: 1.3rem;
  color: var(--secondary-color);
}

.tm-post-link:hover .tm-post-title {
  color: var(--primary-color);
}

.tm-btn {
  display: inline-block;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.tm-btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 43px;
  border: none;
}

.tm-btn-small {
  padding: 8px 33px;
}

.tm-btn-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

.tm-paging-nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.tm-paging-nav ul li:last-child {
  margin-right: 0;
}

.tm-paging-link {
  background-color: #F0F0F0;
  color: var(--secondary-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-paging-item .tm-paging-link:hover,
.tm-paging-item.active .tm-paging-link {
  background-color: var(--primary-color);
  color: white;
}

.tm-btn.disabled {
  background-color: #F0F0F0;
  color: var(--secondary-color);
  cursor: not-allowed;
}

.tm-external-link {
  color: var(--primary-color);
}

.tm-external-link:hover {
  color: var(--primary-color);
}

.tm-paging-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tm-prev-next-wrapper,
.tm-paging-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.tm-copyright {
  text-align: right;
}

/* Single Post page */
hr.tm-hr-primary {
  border-top: 5px solid var(--primary-color);
}

video {
  width: 100%;
  height: auto;
}

.tm-comment {
  display: flex;
  align-items: flex-start;
}

.tm-comment-figure {
  margin-top: 10px;
  margin-right: 30px;
}

.tm-comment-reply {
  padding-left: 37px;
}

.form-control {
  height: 45px;
  border-color: var(--primary-color);
  border-radius: 0;
}

.tm-comment-form {
  max-width: 360px;
}

.tm-category-list {
  list-style-type: none;
}

figure {
  margin: 0;
}

figcaption {
  line-height: 1.4;
}

.tm-post-full {
  max-width: 600px;
}

.tm-post-sidebar {
  max-width: 280px;
  margin-left: auto;
  margin-right: 0;
}