<template>


  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body" style="align-items: start;">

          <market-selection/>

          <authentication/>

          <div class="container mt-6">
            <div class="columns is-multiline mt-5">

              <div class="column is-6">
                <h4 class="is-size-4 has-secondary-color has-text-weight-black line-height-normalized pl-1">
                  Refine, discover, and seize your dream job with precision filters:
                </h4>
              </div>

              <div class="column is-12">

                <table class="table box is-narrow is-fullwidth mt-0 mb-6 "
                       style="border-radius: 13px; background: var(--tertiary-color);">
                  <tr>
                    <th class="is-size-7 p-4 is-2">Search</th>
                    <td class="py-2">
                      <input type="text" class="input" placeholder="Your search query...">
                    </td>
                  </tr>
                  <tr>
                    <th class="is-size-7 p-4 is-2">PowerUps</th>
                    <td class="py-2">
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span>CV Search <span class="tag">€0.99</span></span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="is-size-7 p-4 is-2">Industry</th>
                    <td class="pr-6" style="border-bottom: none;">
                      <input type="text" class="input is-small" placeholder="Filter industries...">
                    </td>
                  </tr>
                  <tr>
                    <td class="py-2">
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span>Information Technology</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span>Business</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span>Marketing</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th class="is-size-7 p-4 is-2">Employment Type</th>
                    <td class="py-2">
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span class="icon"><span class="fa fa-clock"></span></span>
                        <span>Full-Time</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span class="icon"><span class="fa fa-clock"></span></span>
                        <span>Part-Time</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span class="icon"><span class="fa fa-laptop-house"></span></span>
                        <span>Remote</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span class="icon"><span class="fa fa-user-graduate"></span></span>
                        <span>Internship</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span class="icon"><span class="fa fa-user-astronaut"></span></span>
                        <span>Freelance</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th rowspan="2" class="is-size-7 p-4 is-2">Tags</th>
                    <td class="pr-6" style="border-bottom: none;">
                      <input type="text" class="input is-small" placeholder="Filter tags...">
                    </td>
                  </tr>
                  <tr>
                    <td class="py-2">
                      <button class="button is-primary is-small is-inverted mr-2 my-1" v-for="i in 50">
                        <span>PHP{{ i }}</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span>HTML</span>
                      </button>
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span>CSS</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th class="is-size-7 p-4 is-2 is-borderless">Preferences</th>
                    <td class="py-2 is-borderless">
                      <button class="button is-primary is-small is-inverted mr-2 my-1">
                        <span>Include jobs in Serbian</span>
                      </button>
                    </td>
                  </tr>
                </table>

              </div>

            </div>

          </div>


        </div>

      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt" style="align-items: start;">

          <div class="container ">
            <div class="columns is-multiline ">

              <div class="column is-11">

                <a class="is-pulled-left is-hidden-mobile has-text-weight-bold is-size-6 mb-5"
                   @click="VisitRouteByName(this, 'Homepage', {})">
                  <span class="icon">
                      <span class="fa fa-chevron-circle-left"></span>
                    </span>
                  Go back home
                </a>
                <div class="is-clearfix"></div>

                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  Your dream job is here...
                </h3>
                <div class="content">
                  <p class="is-size-6 pt-4 pr-2">
                    Delve into the extensive world of job opportunities uniquely catered to your career goals with our expansive job listings. Our platform offers a rich variety of positions across numerous industries, ensuring that you'll find the perfect opportunity to match your aspirations and skills. Your dream job is within reach - start exploring now and embark on the next phase of your professional journey.
                  </p>
                </div>
              </div>

            </div>

          </div>

        </div>
      </section>
    </div>
  </div>

</template>
<script lang="ts">
import { defineComponent } from 'vue';
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import LogoBlock from "@/app/components/EasyApply/Global/LogoBlock.vue";
export default defineComponent({
  name: 'JobSearch',
  components: {LogoBlock, Authentication, MarketSelection},
  data() {
    return {};
  },
  setup() {
    const { VisitRouteByName } = Helpers();
    return { VisitRouteByName }
  },
});
</script>