<template>
  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body ">

          <market-selection/>

          <authentication/>

          <logo-block/>

        </div>

      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt">
          <div class="container">
            <div class="columns is-multiline">

              <div class="column is-10">

                <a class="is-pulled-left is-hidden-mobile has-text-weight-bold is-size-6 mb-5"
                   @click="VisitRouteByName(this, 'Homepage', {})">
                  <span class="icon">
                      <span class="fa fa-chevron-circle-left"></span>
                    </span>
                  Go back home
                </a>
                <div class="is-clearfix"></div>

                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  Ready to join the universe of EasyApply?
                </h3>
              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-fullhd">

                <auth-tabs/>

                <div class="content">
                  <p class="is-size-6 pt-4 pr-2">
                    Embrace a world of limitless possibilities by creating an EasyApply account today. Enjoy the benefits of managing your curriculum vitae, tailoring job preferences, and unlocking a vast array of opportunities to find your next dream job. Step into the EasyApply universe and experience a seamless, empowering, and transformative journey towards career success.
                  </p>
                </div>

                <div class="columns is-multiline">

                  <div class="column is-3 is-offset-0">
                    <div class="box">
                    <p class="is-size-6 mb-3 has-text-weight-bold">
                      Create your account, using one of our integrations: <br>

                      <button :class="['button  is-primary is- is-justify-content-left is-inverted', 'mt-4 is-fullwidth']"
                              :disabled="$route.name === 'SignIn'"
                              @click="VisitRouteByName(this, 'SignIn')">
                        <span class="icon"><span class="fab fa-google"></span></span>
                        <span>
                        Google
                          </span>
                      </button>
                      <button :class="['button  is-primary is- is-justify-content-left is-inverted', 'mt-4 is-fullwidth']"
                              :disabled="$route.name === 'SignIn'"
                              @click="VisitRouteByName(this, 'SignIn')">
                        <span class="icon"><span class="fab fa-facebook"></span></span>
                        <span>
                        Facebook
                          </span>
                      </button>
                    </p>
                    </div>
                    <div class="box">
                    <p class="is-size-6 mb-3 has-text-weight-bold">
                      Do you already have an account? <br>
                      <button :class="['button  is-primary is-inverted', 'mt-4 is-fullwidth']"
                              :disabled="$route.name === 'SignIn'"
                              @click="VisitRouteByName(this, 'SignIn')">
                        Sign in
                      </button>
                    </p>
                    </div>
                    <div class="box">
                    <p class="is-size-6 mb-3 has-text-weight-bold">
                      Did you forgot your credentials, again? <br>
                      <button :class="['button  is-primary is-inverted', 'mt-4 is-fullwidth']"
                              :disabled="$route.name === 'SignIn'"
                              @click="VisitRouteByName(this, 'SignIn')">
                        Recover Account
                      </button>
                    </p>
                    </div>
                  </div>

                  <div class="column is-7">
                    <div class="box">

                      <p class="is-size-5 mb-3 has-text-weight-bold">
                        Let's create your candidate account:
                      </p>

                      <div class="columns is-multiline py-3">
                        <div class="column is-5 py-1">
                          <i-o-input :input-type="`text`"
                                     :placeholder="''"
                                     :field="`name`"
                                     :label="`What's your name?`"

                          />
                        </div>
                        <div class="column is-7 py-1">
                          <i-o-input :input-type="`email`"
                                     :placeholder="''"
                                     :field="`name`"
                                     :label="`What's your email?`"

                          />
                        </div>
                        <div class="column is-6 py-1">
                          <i-o-input :input-type="`password`"
                                     :placeholder="''"
                                     :field="`password`"
                                     :label="`Choose a safe password`"

                          />
                        </div>
                        <div class="column is-6 py-1">
                          <i-o-input :input-type="`password`"
                                     :placeholder="''"
                                     :field="`password_confirmation`"
                                     :label="`Confirm password`"

                          />
                        </div>
                        <div class="column is-12 py-2">
                          <i-o-input :input-type="`file`"
                                     :placeholder="'Upload your Curriculum Vitae'"
                                     :field="`name`"

                          />
                        </div>

                        <div class="column is-12 py-2 pl-4">
                          <label class="checkbox">
                            <input type="checkbox">
                            I agree to the <a href="#">terms and conditions</a>
                          </label>
                        </div>
                        <div class="column is-12 py-2 pl-4">
                          <label class="checkbox">
                            <input type="checkbox">
                            I agree to the <a href="#">privacy policy</a>
                          </label>
                        </div>
                        <div class="column is-12 py-2 pl-4">
                          <label class="checkbox">
                            <input type="checkbox">
                            I agree to receive periodic newsletters
                          </label>
                        </div>
                        <div class="column is-12">
                          <i-o-submit-button/>
                        </div>

                      </div>




                    </div>
                  </div>

                </div>



              </div>

            </div>

          </div>

        </div>
      </section>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Solutions from "@/utils/EasyApply/Solutions/Solutions";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import SolutionBlock from "@/app/components/EasyApply/Homepage/Blocks/SolutionBlock.vue";
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
import IOInput from "@/app/components/IOSystems/Fields/IOInput.vue";
import IOSubmitButton from "@/app/components/IOSystems/Buttons/IOSubmitButton.vue";
import LogoBlock from "@/app/components/EasyApply/Global/LogoBlock.vue";
import AuthTabs from "@/app/components/EasyApply/Authentication/AuthTabs.vue";
export default defineComponent({
  name: 'SignInView',
  components: {AuthTabs, LogoBlock, IOSubmitButton, IOInput, Authentication, MarketSelection, SolutionBlock},
  data() {
    return {

    };
  },
  setup() {
    const { VisitRouteByName } = Helpers();
    return { VisitRouteByName }
  },
  methods: {
  },
});
</script>