<template>
  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body ">

          <market-selection/>

          <authentication/>

          <logo-block/>

        </div>

      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt">


          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-10">


                <a class="is-pulled-left is-hidden-mobile has-text-weight-bold is-size-6 mb-5"
                   @click="VisitRouteByName(this, 'Homepage', {})">
                  <span class="icon">
                      <span class="fa fa-chevron-circle-left"></span>
                    </span>
                  Go back home
                </a>
                <div class="is-clearfix"></div>

                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  Sign in to your account
                </h3>
              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-fullhd">

                <auth-tabs/>

                <div class="content">
                  <p class="is-size-6 pt-4 pr-2">
                    Welcome back to EasyApply! Log in to your account to manage your curriculum vitae, customize job preferences, and explore a wealth of opportunities designed with your unique career aspirations in mind. Your journey towards your dream job continues - sign in now and take the next step towards a fulfilling and successful professional future.
                  </p>
                </div>

                <div class="columns is-multiline">

                  <div class="column is-3 is-offset-0">
                    <div class="box">
                      <p class="is-size-6 mb-3 has-text-weight-bold">
                        Sign in to your account using your preferred integration: <br>

                        <button :class="['button  is-primary is- is-justify-content-left is-inverted', 'mt-4 is-fullwidth']"

                                @click="VisitRouteByName(this, 'SignIn')">
                          <span class="icon"><span class="fab fa-google"></span></span>
                          <span>
                        Google
                          </span>
                        </button>
                        <button :class="['button  is-primary is- is-justify-content-left is-inverted', 'mt-4 is-fullwidth']"

                                @click="VisitRouteByName(this, 'SignIn')">
                          <span class="icon"><span class="fab fa-facebook"></span></span>
                          <span>
                        Facebook
                          </span>
                        </button>
                      </p>
                    </div>
                    <div class="box">
                      <p class="is-size-6 mb-3 has-text-weight-bold">
                        You don't have an account yet? <br>
                        <button :class="['button  is-primary is-inverted', 'mt-4 is-fullwidth']"

                                @click="VisitRouteByName(this, 'CreateAccount')">
                          Create Account
                        </button>
                      </p>
                    </div>
                    <div class="box">
                      <p class="is-size-6 mb-3 has-text-weight-bold">
                        Did you forgot your credentials, again? <br>
                        <button :class="['button  is-primary is-inverted', 'mt-4 is-fullwidth']"
                                :disabled="$route.name === 'SignIn'"
                                @click="VisitRouteByName(this, 'SignIn')">
                          Recover Account
                        </button>
                      </p>
                    </div>
                  </div>

                  <div class="column is-4">
                    <div class="box">

                      <p class="is-size-5 mb-3 has-text-weight-bold">
                        Let's sign you in to your account:
                      </p>

                      <div class="columns is-multiline py-3">

                        <div class="column is-12 py-1">
                          <i-o-input :input-type="`email`"
                                     :placeholder="''"
                                     :field="`name`"
                                     :label="`What's your email?`"

                          />
                        </div>
                        <div class="column is-12 py-1">
                          <i-o-input :input-type="`password`"
                                     :placeholder="''"
                                     :field="`password`"
                                     :label="`What's your password?`"

                          />
                        </div>
                        <div class="column is-12">
                          <i-o-submit-button/>
                        </div>

                      </div>




                    </div>
                  </div>
                  <div class="column is-4">
                    <div class="box">

                      <p class="is-size-5 mb-3 has-text-weight-bold">
                        Use a magic link to access your account:
                      </p>

                      <div class="columns is-multiline py-3">

                        <div class="column is-12 py-1">
                          <i-o-input :input-type="`email`"
                                     :placeholder="''"
                                     :field="`name`"
                                     :label="`What's your email?`"

                          />
                        </div>
                        <div class="column is-12">
                          <i-o-submit-button/>
                        </div>

                      </div>




                    </div>
                  </div>

                </div>


              </div>


            </div>

          </div>

        </div>
      </section>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Solutions from "@/utils/EasyApply/Solutions/Solutions";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import SolutionBlock from "@/app/components/EasyApply/Homepage/Blocks/SolutionBlock.vue";
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
import IOInput from "@/app/components/IOSystems/Fields/IOInput.vue";
import IOSubmitButton from "@/app/components/IOSystems/Buttons/IOSubmitButton.vue";
import LogoBlock from "@/app/components/EasyApply/Global/LogoBlock.vue";
import AuthTabs from "@/app/components/EasyApply/Authentication/AuthTabs.vue";
export default defineComponent({
  name: 'SignInView',
  components: {AuthTabs, LogoBlock, IOSubmitButton, IOInput, Authentication, MarketSelection, SolutionBlock},
  data() {
    return {

    };
  },
  setup() {
    const { SolutionsData } = Solutions();
    const { VisitRouteByName } = Helpers();
    return { SolutionsData, VisitRouteByName }
  },
  methods: {
  },
});
</script>