<template>
  <div class="columns is-multiline my-5">
<div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd ">

  <section class="hero is-fullheight ">
    <div class="hero-body " style="align-items: start">

      <div class="container">
        <div class="columns">
          <div class="column is-12">

            <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
              Meet our heroes
            </h3>

            <div class="columns">
              <div class="column is-12">
                <p class="is-size-6 pt-4 pr-2">
                  At EasyApply, our team is the backbone of our success. <br>
                  We're a diverse group of individuals with a shared passion for connecting job seekers and recruiters.
                  Our team members bring their unique strengths and expertise to create an exceptional experience for our users.
                  <br>
                  We're proud of our passionate and talented team, and we believe that together, we can continue to transform the job search experience for millions of users around the world.
                </p>
              </div>
            </div>

            <div class="columns  is-multiline">

              <div class="column is-12-mobile is-6-tablet is-12-desktop is-12-widescreen is-6-fullhd"
                   v-for="(teamMember, teamMemberIndex) in EasyApplyTeamData.Team">
                <div class="box " style="height: 100%;">
                  <div class="columns is-mobile is-multiline" >
                    <div class="column is-0 mt-2 mr-2" style="width: 73px;">
                      <div class="team-avatar-image" :style="{
                        backgroundImage: `url('${teamMember.avatar}')`
                      }"></div>
                    </div>
                    <div class="column is-8-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd pt-0" style="align-items: center; display: flex;">
                      <p class="is-size-5 line-height-normalized pl-1"><strong>{{ teamMember.name }}</strong>
                        <small class="is-size-6 is-block">{{ teamMember.role }}</small>
                      </p>
                    </div>
                    <div class="column is-12 pt-0">

                      <div class=" px-1 mb-4">

                        <p class="is-size-7 mt-0" v-if="teamMember.role_description">
                          {{
                            teamMember.role_description
                          }}
                        </p>

                        <h5 class="is-size-6 mb-2 mt-2 has-secondary-color has-text-weight-black line-height-normalized">Reach me at:</h5>

                        <p class="pl-2 " v-if="teamMember.email">
                          <strong><span class="fa fa-envelope"></span></strong> <a :href="`mailto:${teamMember.email}`">{{ teamMember.email }}</a>
                        </p>
                        <p class="pl-2 mt-1 " v-if="teamMember.phone">
                          <strong><span class="fa fa-phone"></span></strong> <a :href="`tel:+${teamMember.phone}`">{{ teamMember.phone }}</a>
                        </p>

                        <p class="pl-2 mt-1 " v-if="teamMember.linkedin">
                          <strong> <span class="fab fa-linkedin"></span></strong> <a :href="`tel:+${teamMember.linkedin.url}`">
                          {{ teamMember.linkedin.label }}
                        </a>
                        </p>

                      </div>


                      <!--
                      <a :href="`mailto:joao@easyapply.app?subject=Hello,`" class="button is-fullwidth has-text-weight-black is-primary mt-4 has-text-weight-bold  ">
                    <span class="icon">
                      <span class="fa fa-crow"></span>
                    </span>
                        <span>Say hello</span>
                      </a> -->
                      <div class="is-clearfix"></div>
                    </div>

                  </div>
                </div>
              </div>


            </div>

            <div class="columns">
              <div class="column is-6">
                <p class="is-size-6 pr-2"></p>
              </div>
            </div>





          </div>
        </div>
      </div>

    </div>
  </section>

</div>
<div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
  <section class="hero has-dark-tertiary-background is-fullheight br-l-t-d br-l-b-d">
    <div class="hero-body hero-with-get-in-touch" style="align-items: start;">

      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
              Get in touch
            </h3>
          </div>
          <div class="column is-5">
            <div class=" box ">
              <p class="is-size-5 mb-3 has-text-weight-bold">Drop us your message:</p>
              <contact-form/>
            </div>
          </div>
          <div class="column is-7">
            <div class="p-3 br-r-t-d br-r-b-d br-l-t-d br-l-b-d ">
              <p class="is-size-5 mb-3 has-text-weight-bold">Other contacts:</p>
              <p class="is-size-6 mb-3">
                <strong>Job Seekers Support</strong><br>
                <strong>Email:</strong> <a href="mailto:support@easyapply.app">support@jobseekers.easyapply.app</a> <br>
              </p>
              <p class="is-size-6 mb-3">
                <strong>Employers Support</strong><br>
                <strong>Email:</strong> <a href="mailto:support@easyapply.app">support@employers.easyapply.app</a> <br>
              </p>
              <p class="is-size-6 mb-3">
                <strong>General Inquiries</strong><br>
                <strong>Email:</strong> <a href="mailto:support@easyapply.app">geral@easyapply.app</a> <br>
              </p>
              <p class="is-size-6 mb-3">
                <strong>Careers at EasyApply</strong><br>
                <strong>Email:</strong> <a href="mailto:jobs@easyapply.app">jobs@easyapply.app</a> <br>
              </p>
              <p class="is-size-6 mb-3">
                <strong>B2B Partnerships</strong><br>
                <strong>Email:</strong> <a href="mailto:b2b@easyapply.app">b2b@easyapply.app</a> <br>
              </p>

              <p class="is-size-5 mb-3 has-text-weight-bold">Or come to visit us at:</p>

              <p class="is-size-6 mb-3">
                <strong>Pavla Papa 7</strong><br>
                <strong>Novi Sad, Serbia</strong>
              </p>
            </div>
          </div>

        </div>
      </div>


    </div>
  </section>
</div>
</div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import EasyApplyTeam from "@/utils/EasyApply/Team/Team";
import ContactForm from "@/app/components/IOSystems/FormKit/ContactForm/ContactForm.vue";
export default defineComponent({
  name: 'HomepageAboutUs',
  components: {ContactForm},
  data() {
    return {};
  },
  setup() {
    const { EasyApplyTeamData } = EasyApplyTeam();
    return { EasyApplyTeamData };
  }
});
</script>