<template>
  <div class="columns is-multiline my-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd ">

      <section class="hero has-background-primary is-fullheight br-r-b-d br-r-t-d" style="min-height: 100%;">
        <div class="hero-body ">
          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-10 is-offset-1 has-text-centered">
                <h1 class="is-size-3 has-text-white-ter has-text-weight-light is-italic line-height-normalized">
                  "Explore our blog, where we dive into the world of employment, offering advice, trends, and inspiration
                  to help you navigate your career journey." </h1>
                <p class="has-text-white-ter">by Ferenc Sic, EasyApply</p>
              </div>

            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd blog-section">
      <section class="hero is-fullheight br-l-t-d">
        <div class="hero-body" style="align-items: start">

          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-12">
                <a class="is-pulled-right is-hidden-mobile has-text-weight-bold is-size-6"
                     @click="VisitRouteByName(this, 'JobSeekers', {}, '#solutions')">
                    View all blog posts
                    <span class="icon">
                      <span class="fa fa-chevron-circle-right"></span>
                    </span>
                  </a>
                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  Latest blogs
                </h3>

              </div>
              <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
                <div class="box is-clickable content">
                  <a href="#">
                    <h1>The Rise of Artificial Intelligence: What is the Impact on Humanity?</h1>
                  </a>
                  <div class="tag-wrapper is-block mb-2">
                    <small class="tag">
                      4 days ago
                    </small>
                  </div>
                  <div>
                    <p class="is-size-6">
                      This article explores the history and current development of Artificial Intelligence, as well as its
                      potential implications on humanity. AI has the potential to automate mundane tasks, reduce the cost
                      of
                      labor, and improve decision-making, but it can also lead to job losses and uncertainty.
                    </p>
                  </div>
                  <a href="/post/the-rise-of-artificial-intelligence-what-is-the-impact-on-humanity"
                    class="menu-label is-block">
                    Read full article
                  </a>
                </div>
              </div>
              <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
                <div class="box is-clickable content">
                  <a href="#">
                    <h1>The Rise of Artificial Intelligence: What is the Impact on Humanity?</h1>
                  </a>
                  <div class="tag-wrapper is-block mb-2">
                    <small class="tag">
                      4 days ago
                    </small>
                  </div>
                  <div>
                    <p class="is-size-6">
                      This article explores the history and current development of Artificial Intelligence, as well as its
                      potential implications on humanity. AI has the potential to automate mundane tasks, reduce the cost
                      of
                      labor, and improve decision-making, but it can also lead to job losses and uncertainty.
                    </p>
                  </div>
                  <a href="/post/the-rise-of-artificial-intelligence-what-is-the-impact-on-humanity"
                    class="menu-label is-block">
                    Read full article
                  </a>
                </div>
              </div>
              <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
                <div class="box is-clickable content">
                  <a href="#">
                    <h1>The Rise of Artificial Intelligence: What is the Impact on Humanity?</h1>
                  </a>
                  <div class="tag-wrapper is-block mb-2">
                    <small class="tag">
                      4 days ago
                    </small>
                  </div>
                  <div>
                    <p class="is-size-6">
                      This article explores the history and current development of Artificial Intelligence, as well as its
                      potential implications on humanity. AI has the potential to automate mundane tasks, reduce the cost
                      of
                      labor, and improve decision-making, but it can also lead to job losses and uncertainty.
                    </p>
                  </div>
                  <a href="/post/the-rise-of-artificial-intelligence-what-is-the-impact-on-humanity"
                    class="menu-label is-block">
                    Read full article
                  </a>
                </div>
              </div>
              <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
                <div class="box is-clickable content">
                  <a href="#">
                    <h1>The Rise of Artificial Intelligence: What is the Impact on Humanity?</h1>
                  </a>
                  <div class="tag-wrapper is-block mb-2">
                    <small class="tag">
                      4 days ago
                    </small>
                  </div>
                  <div>
                    <p class="is-size-6">
                      This article explores the history and current development of Artificial Intelligence, as well as its
                      potential implications on humanity. AI has the potential to automate mundane tasks, reduce the cost
                      of
                      labor, and improve decision-making, but it can also lead to job losses and uncertainty.
                    </p>
                  </div>
                  <a href="/post/the-rise-of-artificial-intelligence-what-is-the-impact-on-humanity"
                    class="menu-label is-block">
                    Read full article
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'HomepageBlog',
  data() {
    return {};
  }
});
</script>