<template>

  <div class="columns is-multiline my-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">

      <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-12 has-text-centered">
                <h1 class="is-size-1 has-primary-color has-text-weight-bold line-height-normalized">
                  <strong class="has-primary-color has-text-weight-black">AI</strong> analysis with a <br> <strong
                    class="has-primary-color has-text-weight-black">human touch</strong>.
                </h1>
              </div>

            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-l-t-d br-l-b-d">
        <div class="hero-body" style="align-items: start">

          <div class="container">
            <div class="columns">
              <div class="column is-12">
                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  How does it work?
                </h3>

                <div class="content is-size-6 mt-4">

                  <p class="is-size-5">{{
                      ("It's a combination of powerful machine algorithms and the will of many to connect smarter.")
                    }}</p>

                  <h4 class="is-size-4 has-secondary-color">{{ ("Searching for your dream job?") }}</h4>
                  <ul>
                    <li>{{ ("Search for a wide variety of jobs in different countries and industries.") }}</li>
                    <li>{{ ("Use your CV to find the best curated results for you (with the help of GPT-4).") }}</li>
                    <li>{{
                        ("Select all the jobs that you would like to apply for and, when you're ready, checkout (up to 25 applications per week).")
                      }}
                    </li>
                    <li>{{
                        ("Compose a custom cover letter to include with your CV when communicating with the recruiter.")
                      }}
                    </li>
                    <li>{{
                        ("Keep the journey alive. Come back to EasyApply to share your new job experiences and help us grow.")
                      }}
                    </li>
                  </ul>

                  <h4 class="is-size-4 has-secondary-color mt-5">{{ ("Looking for the best talent?") }}</h4>
                  <ul>
                    <li>{{
                        ("Create your job opening by either uploading a PDF, an Excel (with one or many opportunities) or filling the opportunity on our text-editor.")
                      }}
                    </li>
                    <li>{{
                        ("Give us one business day to process your request and your opportunity will be made available.")
                      }}
                    </li>
                    <li>{{
                        ("Receive suggestions for improvements on your job opportunity generated by AI and curated by human beings.")
                      }}
                    </li>
                  </ul>

                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  
</template>
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'HomepageHowDoesItWorkSection',
  data() {
    return {};
  }
});
</script>