<template>
  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body ">

          <market-selection/>

          <authentication/>

          <logo-block/>

        </div>
        <div class="hero-footer has-text-centered is-mobile-visible is-hidden-tablet">
          <small class="menu-label is-size-7 mb-0 is-block">
            <span class="icon">
            <span class="fa fa-chevron-down has-secondary-color"></span>
          </span> Discover more, scroll
            <span class="icon">
            <span class="fa fa-chevron-down has-secondary-color"></span>
          </span>
          </small><br>

        </div>
      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt">
          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-12">
                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  How can we help you?
                </h3>
                <div class="content">
                  <p class="is-size-6 pt-4 pr-2">
                    At EasyApply, we're more than just a platform – we're a community that passionately connects job
                    seekers with their dreams and recruiters with exceptional talent. Our innovative technology and
                    heartfelt dedication create an unparalleled experience that simplifies the journey and transforms
                    lives. Join EasyApply and be part of a world where dreams become reality, and extraordinary
                    connections are made every day.
                  </p>
                </div>
              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-fullhd">

                <h4 class="is-size-5 has-text-weight-bold has-secondary-color mb-4">
                        <span class="icon has-primary-color is-size-4 mr-1">
                          <span class="fa fa-cube"></span>
                        </span>
                  Solutions for Job Seekers:
                  <a class="is-pulled-right is-hidden-mobile has-text-weight-bold is-size-6"
                     @click="VisitRouteByName(this, 'JobSeekers', {}, '#solutions')">
                    Explore more solutions
                    <span class="icon">
                      <span class="fa fa-chevron-circle-right"></span>
                    </span>
                  </a>
                  <span class="is-clearfix"></span>
                </h4>

                <div class="columns is-multiline">
                  <div class="column is-12-mobile is-4-tablet is-6-desktop is-6-widescreen is-4-fullhd"
                       :key="solution.title"
                       v-for="solution in Object.values(SolutionsData.JobSeekers).slice(0,3)">
                    <solution-block :solution="solution"/>
                  </div>

                  <div class="column is-12 is-mobile-visible  is-hidden-tablet">
                    <button class="button is-primary is-fullwidth" @click="VisitRouteByName(this, 'JobSeekers', {}, '#solutions')">
                      <span>Discover more solutions</span>
                      <span class="icon">
                      <span class="fa fa-chevron-circle-right"></span>
                    </span>
                    </button>
                  </div>

                </div>


              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-fullhd">


                <h4 class="is-size-5 has-text-weight-bold has-tertiary-color mb-4 mt-3">
                        <span class="icon has-primary-color is-size-4 mr-1">
                          <span class="fa fa-user-tie"></span>
                        </span>
                  Solutions for Employers:
                  <a class="is-pulled-right is-hidden-mobile has-text-weight-bold is-size-6"
                     @click="VisitRouteByName(this, 'Employers', {}, '#solutions')">
                    Explore more solutions
                    <span class="icon">
                      <span class="fa fa-chevron-circle-right"></span>
                    </span>
                  </a>
                  <span class="is-clearfix"></span>
                </h4>


                <div class="columns is-multiline">

                  <div class="column is-12-mobile is-4-tablet is-6-desktop is-6-widescreen is-4-fullhd"
                       :key="solution.title"
                       v-for="solution in Object.values(SolutionsData.Employers).slice(0,3)">

                    <solution-block :solution="solution"/>

                  </div>

                  <div class="column is-12 is-mobile-visible  is-hidden-tablet">
                    <button class="button is-primary is-fullwidth"
                            @click="VisitRouteByName(this, 'Employers', {}, '#solutions')">
                      <span>Discover more solutions</span>
                      <span class="icon">
                      <span class="fa fa-chevron-circle-right"></span>
                    </span>
                    </button>
                  </div>

                </div>


              </div>
            </div>

          </div>

        </div>
      </section>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Solutions from "@/utils/EasyApply/Solutions/Solutions";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import SolutionBlock from "@/app/components/EasyApply/Homepage/Blocks/SolutionBlock.vue";
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
import LogoBlock from "@/app/components/EasyApply/Global/LogoBlock.vue";
export default defineComponent({
  name: 'HomepageIntro',
  components: {LogoBlock, Authentication, MarketSelection, SolutionBlock},
  data() {
    return {

    };
  },
  setup() {
    const { SolutionsData } = Solutions();
    const { VisitRouteByName } = Helpers();
    return { SolutionsData, VisitRouteByName }
  },
  methods: {
  },
});
</script>