<template>
  <div class="columns is-multiline my-5">
<div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd ">

  <section class="hero has-background-primary is-fullheight br-r-b-d br-r-t-d" style="min-height: 100%;">
    <div class="hero-body ">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-10 is-offset-1 has-text-centered">
            <h1 class="is-size-3 has-text-white-ter has-text-weight-light is-italic line-height-normalized">
              "Experience unbeatable value with our affordable pricing, expertly connecting talent and employers for a truly cost-effective solution."
            </h1>
            <p class="has-text-white-ter">by João Morais, EasyApply CTO</p>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
<div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
  <section class="hero is-fullheight br-l-t-d">
    <div class="hero-body" style="align-items: start">

      <div class="container">
        <div class="columns">
          <div class="column is-12">

            <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
              Pricing
            </h3>

            <div class="columns mt-5">
              <div class="column is-7">
                <div class="hero br-r-t-d br-r-b-d br-l-t-d br-l-b-d has-dark-tertiary-background">
                  <div class="hero-body">
                    <div class="hero-content">
                      <h4 class="is-size-4 has-text-weight-bold has-secondary-color mb-4">
                        Employers:
                      </h4>
                      <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                        Job Opening <span class="tag is-info">€14,99</span>
                        <span class="has-text-weight-light is-size-6 is-block mt-2">Your opening will be listed for 30 days.</span>
                      </h5>

                      <h5 class="is-size-6 has-text-weight-bold has-secondary-color mb-4 mt-1 ml-5">
                      <span class="icon has-primary-color is-size-4 mr-1">
                        <span class="fa fa-plus-circle"></span>
                      </span>
                        Content Revision <span class="tag is-info">€4,99 <small>/opening</small></span>
                      </h5>
                      <h5 class="is-size-6 has-text-weight-bold has-secondary-color mb-4 mt-1 ml-5">
                      <span class="icon has-primary-color is-size-4 mr-1">
                        <span class="fa fa-plus-circle"></span>
                      </span>
                        Translations <span class="tag is-info">€2,50 <small>/language/opening</small></span>
                      </h5>

                      <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                        Connect with Top Talent <span class="tag is-info">€99,99<small>/month</small></span>
                      </h5>

                      <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                        Company Profile <span class="tag is-info">€9,99<small>/month</small></span>
                      </h5>
                      <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                        Structure CV repository <span class="tag is-info">€0,99<small>/CV</small></span>
                      </h5>

                      <a class=" has-text-weight-bold is-size-6 mt-6 is-block" @click="">
                        Start listing your job openings
                        <span class="icon">
                      <span class="fa fa-chevron-circle-right"></span>
                    </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

          <div class="column is-6" >
                <div class="hero br-l-t-d br-l-b-d has-dark-tertiary-background">
                  <div class="hero-body">
                    <div class="hero-content">
                  <h4 class="is-size-4 has-text-weight-bold has-secondary-color mb-4">
                    Job Seekers:
                  </h4>
                  <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                    Free to Search & Apply
                    <span class="has-text-weight-light is-size-6 is-block mt-2">Submit up to 25 applications per week.</span>
                  </h5>
                  <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                    CV Search <span class="tag is-info">€0,99</span>
                  </h5>
                  <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                    CV Builder <span class="tag is-info">€2,99</span>
                  </h5>
                  <h5 class="is-size-5 has-text-weight-bold has-secondary-color mb-4 mt-5">
                    <span class="icon has-primary-color is-size-4 mr-1">
                      <span class="fa fa-check-circle"></span>
                    </span>
                    Career Advice <span class="tag is-info">€49,99</span>
                  </h5>

                <a class=" has-text-weight-bold is-size-6 mt-6 is-block" @click="">
                  Find your dream job, today
                  <span class="icon">
                      <span class="fa fa-chevron-circle-right"></span>
                    </span>
                </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>






          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'HomepagePricing',
  data() {
    return {};
  }
});
</script>