<template>
  <div class="field">
    <div class="control">
      <button class="button">
        Submit form
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'IOSubmitButton',
  props: {

  },
  watch: {

  },
  computed: {
  },
  data() {
    return {

    }
  },
  created() {

  },

});
</script>