<template>
  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body ">

          <market-selection/>

          <authentication/>

          <logo-block/>

        </div>

      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd" id="solutions">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt">
          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-12">

                <a class="is-pulled-left is-hidden-mobile has-text-weight-bold is-size-6 mb-5"
                   @click="VisitRouteByName(this, 'Homepage', {})">
                  <span class="icon">
                      <span class="fa fa-chevron-circle-left"></span>
                    </span>
                  Go back home
                </a>
                <div class="is-clearfix"></div>

                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  Solutions for Employers:
                </h3>
                <div class="content">
                  <p class="is-size-6 pt-4 pr-2">
                    EasyApply offers a comprehensive suite of solutions designed to streamline the hiring process for employers. From listing job openings and connecting with top talent to building a compelling company profile and structuring your CV repository, our services cater to every aspect of the recruitment journey. Explore our offerings to enhance your talent acquisition strategy, simplify candidate evaluation, and build a strong employer brand that attracts the best and brightest in your industry.
                  </p>
                </div>
              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-fullhd">

                <div class="columns is-multiline">
                  <div class="column is-12-mobile is-4-tablet is-6-desktop is-6-widescreen is-4-fullhd"
                       :key="solution.title"
                       v-for="solution in Object.values(SolutionsData.Employers)">
                    <solution-block :solution="solution"/>
                  </div>


                </div>


              </div>

            </div>

          </div>

        </div>
      </section>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Solutions from "@/utils/EasyApply/Solutions/Solutions";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import SolutionBlock from "@/app/components/EasyApply/Homepage/Blocks/SolutionBlock.vue";
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
import LogoBlock from "@/app/components/EasyApply/Global/LogoBlock.vue";
export default defineComponent({
  name: 'EmployersSolutions',
  components: {LogoBlock, Authentication, MarketSelection, SolutionBlock},
  data() {
    return {

    };
  },
  setup() {
    const { SolutionsData } = Solutions();
    const { VisitRouteByName } = Helpers();
    return { SolutionsData, VisitRouteByName }
  },
  methods: {
  },
});
</script>