<template>
  <div>
    <!-- isOpen is reactive and taken from the store, define if it is rendered or not -->
    <div  :class="['modal', {
      'is-active' : isOpen
    }]">
        <div class="modal-background" @click="$emit('close')"></div>
        <div class="modal-content">
          <button class="button is-primary is-hidden-mobile ml-5 is-inverted is-small is-pulled-right"
                  @click="$emit('close')"
                  aria-label="close">
                <span class="icon">
                  <span class="fa fa-times"></span>
                </span>
            <span>Close</span>
          </button>
          <section class="modal-card-body">

            <div class="container is-fluid py-3">
              <div class="columns is-multiline">
                <div class="column is-12">

                  <button class="button is-primary is-mobile-visible is-hidden-tablet is-inverted is-small is-pulled-right"
                          @click="$emit('close')"
                          aria-label="close">
                <span class="icon">
                  <span class="fa fa-times"></span>
                </span>
                    <span>Close</span>
                  </button>

                  <h3 class="is-size-3 line-height-normalized has-text-weight-black">{{ modalTitle }}</h3>
                </div>
                <div class="column is-12">
                  <template v-if="view">
                    <component :is="view"
                               v-bind="viewBinds"
                               v-on="viewHandlers"
                               v-model="viewModel"></component>

                  </template>
                </div>
                <div class="column is-12">
                  <button
                      v-for="action in actions"
                      class="btn"
                      @click="action.callback(viewModel)"
                  >
                    {{ action.label }}
                  </button>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'GenericModal',
  props: {
    isRendered: {
      default: false,
    },
    isOpen: {
      default: false,
    },
    modalTitle: String,
    view: Object,
    viewModel: {
      default() { return {}; }
    },
    actions: {
      default() { return []; }
    },
    viewBinds: {
      default() { return {}; }
    },
    viewHandlers: {
      default() { return {}; }
    },

  },
  components: {},
  data() {
    return {

    };
  },
  setup() {

    return { };
  }
});
</script>