<template>

  <div class="tabs is-toggle mb-0">
    <ul>
      <li :class="{'is-active': roleIndex === selectedTab}" v-for="(role, roleIndex) in availableRoles">
        <a class="px-6" @click="changeTabValue(roleIndex)">
          <span class="icon"><span :class="role.icon"></span></span>
          <span class="has-text-weight-bold">{{ role.label }}</span></a>
      </li>
    </ul>
  </div>

</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Helpers from "@/utils/EasyApply/Helpers/Helpers";

export default defineComponent({
  name: 'AuthTabs',
  props: {
  },
  computed: {
    selectedTab() {
      return (this.$route.params.role ?? 'job-seekers');
    }
  },
  data() {
    return {
      availableRoles: {
        'job-seekers': {
          label: 'Job Seekers',
          icon: 'fa fa-cube',
        },
        'employers': {
          label: 'Employers',
          icon: 'fa fa-user-tie',
        },
        // 'tpc-recruiters': {
        //   label: 'Third-Party Recruiters',
        //   icon: 'fa fa-user-ninja',
        // },
      }
    };
  },
  setup() {
    const { VisitRouteByName } = Helpers();
    return { VisitRouteByName }
  },
  methods: {
    changeTabValue(role) {
      if(role !== this.currentTab) {
        this.$router.push({
          name: this.$route.name,
          params: {
            role: role,
          }
        });
      }
    },
  },
});
</script>