<template>

  <div class="authentication-buttons">
    <div class="box ">
    <p class="mb-2">
      <small class=" menu-label">Hello Stranger, 👋 </small>
    </p>
    <div class="buttons">
      <button :class="['button  is-primary is-inverted']"
              :disabled="$route.name === 'SignIn'"
              @click="VisitRouteByName(this, 'SignIn', {
                role: $route.params.role??'job-seekers'
              })">
        Sign in
      </button>
      <button class="button  is-primary is-inverted"
              :disabled="$route.name === 'CreateAccount'"
              @click="VisitRouteByName(this, 'CreateAccount', {
                role: $route.params.role??'job-seekers'
              })">
        Create an account
      </button>
    </div>
    </div>
  </div>

</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Helpers from "@/utils/EasyApply/Helpers/Helpers";

export default defineComponent({
  name: 'Authentication',
  props: {
  },
  data() {
    return {};
  },
  setup() {
    const { VisitRouteByName } = Helpers();
    return { VisitRouteByName }
  },
});
</script>