<template>
  <div class="container">
    <div class="columns">
      <div
          class="column is-10-mobile is-6-tablet is-10-desktop is-8-widescreen is-6-fullhd is-offset-1-mobile is-offset-3-tablet is-offset-1-desktop is-offset-2-widescreen is-offset-3-fullhd has-text-centered">
        <div class="tm-site-header px-6 is-clickable scale-on-hover" :class="{
                  'is-active': $route.name === 'Homepage',
                }" @click="VisitRouteByName(this,'Homepage')">
          <img :src="require(`@/assets/logos/azul.png`)" style="max-width: 100%;"/>
        </div>
        <p class="lead is-size-7">Finding and applying to your dream job, made easy.</p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Helpers from "@/utils/EasyApply/Helpers/Helpers";

export default defineComponent({
  name: 'LogoBlock',
  props: {
  },
  data() {
    return {};
  },
  setup() {
    const { VisitRouteByName } = Helpers();
    return { VisitRouteByName }
  },
});
</script>