<template>


  <div :class="['market-buttons', { }]">

    <div class=" is-shadowless">
    <p class="mb-2">
      <small class=" menu-label">Region & Language:</small>
    </p>
    <div class="buttons">
      <button class="button is-small is-primary is-inverted">
        Europe
      </button>
      <button class="button is-small is-primary is-inverted">
        Portugal
      </button>
      <button class="button is-small is-primary is-inverted">
        Portuguese
      </button>
    </div>

    </div>
  </div>

</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Helpers from "@/utils/EasyApply/Helpers/Helpers";

export default defineComponent({
  name: 'MarketSelection',
  props: {
    withLogo: {
      default: false,
    }
  },
  data() {
    return {};
  },
  setup() {
    const { VisitRouteByName } = Helpers();
    return { VisitRouteByName }
  },
});
</script>