<template>
  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body ">

          <market-selection />

          <authentication />

          <div class="container">
            <div class="columns">
              <div
                class="column is-10-mobile is-6-tablet is-10-desktop is-8-widescreen is-6-fullhd is-offset-1-mobile is-offset-3-tablet is-offset-1-desktop is-offset-2-widescreen is-offset-3-fullhd has-text-centered">
                <div class="tm-site-header px-6 is-clickable scale-on-hover" :class="{
                  'is-active': $route.name === 'Homepage',
                }" @click="VisitRouteByName(this, 'Homepage')">
                  <img :src="require(`@/assets/logos/azul.png`)" style="max-width: 100%;" />
                </div>
                <p class="lead is-size-7">Finding and applying to your dream job, made easy.</p>
              </div>
            </div>
          </div>

        </div>

      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt">
          <div class="container">
            <div class="columns is-multiline is-centered">
              <div class="column is-12-mobile is-11-tablet is-11-desktop is-11-widescreen is-11-fullhd">
                <a class="is-pulled-left is-hidden-mobile has-text-weight-bold is-size-6 mb-5"
                  @click="VisitRouteByName(this, 'Homepage', {})">
                  <span class="icon">
                    <span class="fa fa-chevron-circle-left"></span>
                  </span>
                  Go back home
                </a>
                <div class="is-clearfix"></div>
                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized pl-1">
                  About us
                </h3>
                <p class="is-size-6 pt-4 pr-2 pb-2 pl-1">
                  We're EasyApply, a passionate community dedicated to connecting job seekers with their dream jobs and
                  recruiters with exceptional talent. Our innovative technology and heartfelt dedication create an
                  unparalleled experience that simplifies the journey and transforms lives.
                </p>
                <p class="is-size-6 pt-4 pr-2 pb-2 pl-1">
                  The worst part about searching for a new job is filtering through irrelevant offers and being redirected
                  to different sites to create accounts or fill out forms. With EasyApply, all that hassle goes out the
                  window. After signing in and updating your Curriculum, our algorithm presents you with the best job
                  offers that fit your education and experience, making job searching simple and stress-free. <br>
                </p>
                <p class="is-size-6 pt-4 pr-2 pb-2 pl-1">
                  We make applying to a new job a little easier by gathering all the job offers in the market in one
                  place, helping not only employees find the perfect job but also employers find the ideal talent for
                  their open opportunities. Join EasyApply and be part of a world where dreams become reality, and
                  extraordinary connections are made every day.
                </p>
                <a href="/static/PDFs/EasyApply_PT_Flyer.pdf"
                  class="button has-text-weight-bold is-primary mt-5 has-text-weight-bold is-medium px-6 mr-5 pl-1"
                  target="_blank"><span class="icon"><span class="fa fa-file-pdf"></span></span><span>Flyer</span></a>
                <a href="/static/PDFs/EasyApply-CommercialPresentation.pdf"
                  class="button has-text-weight-bold is-primary mt-5 has-text-weight-bold is-medium px-6"
                  target="_blank"><span class="icon"><span
                      class="fa fa-file-pdf"></span></span><span>Presentation</span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
  <div class="container">
    <div style="padding: 0.75rem;">
    <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized"> Meet our heroes </h3>
    <p class="is-size-6 pt-4 pr-2"> At EasyApply, our team is the backbone of our success. <br> We're a diverse group of individuals with a shared passion for connecting job seekers and recruiters. Our team members bring their unique strengths and expertise to create an exceptional experience for our users. <br> We're proud of our passionate and talented team, and we believe that together, we can continue to transform the job search experience for millions of users around the world.</p>
  </div>
    <div class="columns container is-multiline m-auto">
      <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
        <div class="box" style="height: 100%;">
          <div class="columns is-mobile is-multiline">
            <div class="column is-0 mt-2 mr-2" style="width: 73px;">
              <div class="team-avatar-image" style="background-image: url(&quot;/static/images/team/joao.png&quot;);">
              </div>
            </div>
            <div class="column is-8-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd pt-0"
              style="align-items: center; display: flex;">
              <p class="is-size-5 line-height-normalized pl-1"><strong>João Morais</strong><small
                  class="is-size-6 is-block">Product Mischief</small></p>
            </div>
            <div class="column is-12 pt-0">
              <div class="px-1 mb-4">
                <p class="is-size-7 mt-0">Our Product Mischief leads the charge in creative and innovative product
                  development. With a keen eye for disruption and a playful spirit, João ensures that our platform stays
                  ahead of the curve and offers exciting new features to delight our users.</p>
                <h5 class="is-size-6 mb-2 mt-2 has-secondary-color has-text-weight-black line-height-normalized">Reach me
                  at:</h5>
                <p class="pl-2"><strong><span class="fa fa-envelope"></span></strong> <a
                    href="mailto:joao@easyapply.app">joao@easyapply.app</a></p><!--v-if-->
                <p class="pl-2 mt-1"><strong><span class="fab fa-linkedin"></span></strong> <a
                    href="tel:+https://www.linkedin.com/in/joaomorais94/">/joaomorais94</a></p>
                    <button data-tooltip="Buy us a coffee" class="button is-primary is-inverted is-small has-text-weight-bold is-shadowless is-pulled-right"><span class="icon"><span class="fa fa-coffee"></span></span><span>Espresso your appreciation</span></button>
              </div>
              <div class="is-clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
        <div class="box" style="height: 100%;">
          <div class="columns is-mobile is-multiline">
            <div class="column is-0 mt-2 mr-2" style="width: 73px;">
              <div class="team-avatar-image" style="background-image: url(&quot;/static/images/team/joao.png&quot;);">
              </div>
            </div>
            <div class="column is-8-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd pt-0"
              style="align-items: center; display: flex;">
              <p class="is-size-5 line-height-normalized pl-1"><strong>Pedro Fontela</strong><small
                  class="is-size-6 is-block">Executive Officer</small></p>
            </div>
            <div class="column is-12 pt-0">
              <div class="px-1 mb-4">
                <p class="is-size-7 mt-0">Our CEO, with a background in psychology and diplomacy, is the guiding force
                  behind EasyApply. Their expertise in understanding human behavior and building relationships helps shape
                  the business structure and strategy. The CEO fosters a supportive company culture and ensures that
                  EasyApply remains a leader in connecting job seekers and recruiters worldwide.</p>
                <h5 class="is-size-6 mb-2 mt-2 has-secondary-color has-text-weight-black line-height-normalized">Reach me
                  at:</h5>
                <p class="pl-2"><strong><span class="fa fa-envelope"></span></strong> <a
                    href="mailto:pedro@easyapply.app">pedro@easyapply.app</a></p>
                    <button data-tooltip="Buy us a coffee" class="button is-primary is-inverted is-small has-text-weight-bold is-shadowless is-pulled-right"><span class="icon"><span class="fa fa-coffee"></span></span><span>Caffeinate my day</span></button>
              </div>
              <div class="is-clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
        <div class="box" style="height: 100%;">
          <div class="columns is-mobile is-multiline">
            <div class="column is-0 mt-2 mr-2" style="width: 73px;">
              <div class="team-avatar-image" style="background-image: url(&quot;/static/images/team/joao.png&quot;);">
              </div>
            </div>
            <div class="column is-8-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd pt-0"
              style="align-items: center; display: flex;">
              <p class="is-size-5 line-height-normalized pl-1"><strong>Ferenc Sic</strong><small
                  class="is-size-6 is-block">Frontend Developer</small></p>
            </div>
            <div class="column is-12 pt-0">
              <div class="px-1 mb-4">
                <p class="is-size-7 mt-0">Ferenc creates EasyApply's engaging and intuitive user interface. He
                  collaborates
                  with the Product Mischief and UX designers to build user-friendly experiences for job seekers and
                  recruiters. Passionate about web technologies and design trends, they ensure our platform stays visually
                  appealing, accessible, and responsive across devices.</p>
                <h5 class="is-size-6 mb-2 mt-2 has-secondary-color has-text-weight-black line-height-normalized">Reach me
                  at:</h5>
                <p class="pl-2"><strong><span class="fa fa-envelope"></span></strong> <a
                    href="mailto:ferenc@easyapply.app">ferenc@easyapply.app</a></p>
                    <button data-tooltip="Buy us a coffee" class="button is-primary is-inverted is-small has-text-weight-bold is-shadowless is-pulled-right"><span class="icon"><span class="fa fa-coffee"></span></span><span>Mocha my day better</span></button>

              </div>
              <div class="is-clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
        <div class="box" style="height: 100%;">
          <div class="columns is-mobile is-multiline">
            <div class="column is-0 mt-2 mr-2" style="width: 73px;">
              <div class="team-avatar-image" style="background-image: url(&quot;/static/images/team/joao.png&quot;);">
              </div>
            </div>
            <div class="column is-8-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd pt-0"
              style="align-items: center; display: flex;">
              <p class="is-size-5 line-height-normalized pl-1"><strong>Johnny Cartucho</strong><small
                  class="is-size-6 is-block">Business Advisor</small></p>
            </div>
            <div class="column is-12 pt-0">
              <div class="px-1 mb-4">
                <p class="is-size-7 mt-0">Johnny brings a wealth of experience to EasyApply. His expertise in market
                  trends,
                  business development, and financial management helps guide our strategic direction and growth. Johnny's
                  tailored advice and support play a crucial role in our ongoing success and impact in the job search
                  market.</p>
                <h5 class="is-size-6 mb-2 mt-2 has-secondary-color has-text-weight-black line-height-normalized">Reach me
                  at:</h5>
                <p class="pl-2"><strong><span class="fa fa-envelope"></span></strong> <a
                    href="mailto:johnny@easyapply.app">johnny@easyapply.app</a></p>
                    <button data-tooltip="Buy us a coffee" class="button is-primary is-inverted is-small has-text-weight-bold is-shadowless is-pulled-right"><span class="icon"><span class="fa fa-coffee"></span></span><span>A sip of support</span></button>

              </div>
              <div class="is-clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
        <div class="box" style="height: 100%;">
          <div class="columns is-mobile is-multiline">
            <div class="column is-0 mt-2 mr-2" style="width: 73px;">
              <div class="team-avatar-image" style="background-image: url(&quot;/static/images/team/joao.png&quot;);">
              </div>
            </div>
            <div class="column is-8-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd pt-0"
              style="align-items: center; display: flex;">
              <p class="is-size-5 line-height-normalized pl-1"><strong>Dimitrij Djordjevic</strong><small
                  class="is-size-6 is-block">Mystical Visual Artist</small></p>
            </div>
            <div class="column is-12 pt-0">
              <div class="px-1 mb-4">
                <p class="is-size-7 mt-0">Dimitrij, our Mystical Visual Architect, brings magic to EasyApply with his
                  captivating designs and creative direction. He skillfully transforms ideas into enchanting visuals,
                  ensuring a cohesive and memorable brand identity across all platforms. Dimitrij's artistic talent and
                  keen
                  understanding of user experience set EasyApply apart from the competition.</p>
                <h5 class="is-size-6 mb-2 mt-2 has-secondary-color has-text-weight-black line-height-normalized">Reach me
                  at:</h5>
                <p class="pl-2"><strong><span class="fa fa-envelope"></span></strong> <a
                    href="mailto:dimitrij@easyapply.app">dimitrij@easyapply.app</a></p>
                    <button data-tooltip="Buy us a coffee" class="button is-primary is-inverted is-small has-text-weight-bold is-shadowless is-pulled-right"><span class="icon"><span class="fa fa-coffee"></span></span><span>Fuel my innovation with a sip</span></button>
              </div>
              <div class="is-clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Solutions from "@/utils/EasyApply/Solutions/Solutions";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import SolutionBlock from "@/app/components/EasyApply/Homepage/Blocks/SolutionBlock.vue";
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
export default defineComponent({
  name: 'JobSeekersSolutions',
  components: { Authentication, MarketSelection, SolutionBlock },
  data() {
    return {

    };
  },
  setup() {
    const { SolutionsData } = Solutions();
    const { VisitRouteByName } = Helpers();
    return { SolutionsData, VisitRouteByName }
  },
  methods: {
  },
});
</script>