<template>
  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body ">

          <market-selection />

          <authentication />

          <div class="container">
            <div class="columns">
              <div
                class="column is-10-mobile is-6-tablet is-10-desktop is-8-widescreen is-6-fullhd is-offset-1-mobile is-offset-3-tablet is-offset-1-desktop is-offset-2-widescreen is-offset-3-fullhd has-text-centered">
                <div class="tm-site-header px-6 is-clickable scale-on-hover" :class="{
                  'is-active': $route.name === 'Homepage',
                }" @click="VisitRouteByName(this, 'Homepage')">
                  <img :src="require(`@/assets/logos/azul.png`)" style="max-width: 100%;" />
                </div>
                <p class="lead is-size-7">Finding and applying to your dream job, made easy.</p>
              </div>
            </div>
          </div>

        </div>

      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt">
          <div class="container">
            <div class="columns is-multiline is-centered">
              <div class="column is-12-mobile is-11-tablet is-11-desktop is-11-widescreen is-11-fullhd">
                <a class="is-pulled-left is-hidden-mobile has-text-weight-bold is-size-6 mb-5"
                  @click="VisitRouteByName(this, 'Homepage', {})">
                  <span class="icon">
                    <span class="fa fa-chevron-circle-left"></span>
                  </span>
                  Go back home
                </a>
                <div class="is-clearfix"></div>
                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized pl-1">
                  Personality types
                </h3>
                <p class="is-size-6 pt-4 pr-2 pb-4 pl-1">
                  Personality types can be categorized in various ways, and one such categorization includes the seer,
                  mediator,
                  planner, and fixer types. <br>
                  Seers are known for their creativity and intuition, mediators for their empathy and diplomacy, planners
                  for
                  their organization and attention to detail, and fixers for their problem-solving and practicality. <br>
                  Each personality type has its own strengths and weaknesses, and understanding these can help individuals
                  to
                  better navigate their personal and professional lives.
                </p>
                <a class="is-pulled-right is-hidden-mobile has-text-weight-bold is-size-6 mt-5"
                  @click="VisitRouteByName(this, 'JobSeekers', {}, '#solutions')">
                  Find your personality type
                  <span class="icon">
                    <span class="fa fa-chevron-circle-right"></span>
                  </span>
                </a>
              </div>
            </div>



          </div>
        </div>
      </section>
    </div>

  </div>
  <div class="columns is-multiline container m-auto pb-5">
    <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
      <div class="box" style="height: 100%;">
        <div class="columns">
          <div
            class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd is-flex is-align-items-center">
            <img src="/static/images/personalities/seer.svg" alt="Seer" style="width:100%;">
          </div>
          <div class="column is-12-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd">
            <h4 class="is-size-5 has-secondary-color has-text-weight-bold line-height-normalized">
              Seer
            </h4>
            <p class="content is-size-7 pt-4 pr-2">
              The most strategic of types, always trying to figure out the underlying fundamental elements of any
              problem or situation.
              <br>
              Independent and calm this person will not miss deep connections or future implications on any given task
              or project.
              <br>
              If a project needs structure and long term viability then the Seer is who you need. <br>
              Whatever problems come along they will haver a plan for it (and several backups).
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
      <div class="box" style="height: 100%;">
        <div class="columns">
          <div
            class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd is-flex is-align-items-center">
            <img src="/static/images/personalities/mediator.svg" alt="Mediator" style="width:100%;">
          </div>
          <div class="column is-12-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd">
            <h4 class="is-size-5 has-secondary-color has-text-weight-bold line-height-normalized">
              Mediator
            </h4>
            <p class="content is-size-7 pt-4 pr-2">
              The type most prone to end up in a leadership position. Highly sensitive to other people and capable of
              grasping the “big picture”.<br>
              They will happily engage with most people in their environment and understand their contributions.<br>
              Unafraid to speak their mind you can rely on the Mediator to keep the team on point, accomplish its goals
              while keeping it united.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
      <div class="box" style="height: 100%;">
        <div class="columns">
          <div
            class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd is-flex is-align-items-center">
            <img src="/static/images/personalities/planner.svg" alt="Planner" style="width:100%;">
          </div>
          <div class="column is-12-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd">
            <h4 class="is-size-5 has-secondary-color has-text-weight-bold line-height-normalized">
              Planner
            </h4>
            <p class="content is-size-7 pt-4 pr-2">
              The trouble-shooter of the types. They are guided by their attention to detail and by the task that is
              presented to them.<br>
              Will go to great lengths to understand the minute details of the information they are given will make sure
              that what they produce is logical and complete.<br>
              When dealing with large amounts of detailed information the Planner is who you need. Procedures will be
              followed and no information will be lost.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-12-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
      <div class="box" style="height: 100%;">
        <div class="columns">
          <div
            class="column is-12-mobile is-4-tablet is-4-desktop is-4-widescreen is-4-fullhd is-flex is-align-items-center">
            <img src="/static/images/personalities/fixer.svg" alt="Fixer" style="width:100%;">
          </div>
          <div class="column is-12-mobile is-8-tablet is-8-desktop is-8-widescreen is-8-fullhd">
            <h4 class="is-size-5 has-secondary-color has-text-weight-bold line-height-normalized">
              Fixer
            </h4>
            <p class="content is-size-7 pt-4 pr-2">
              The most active of types, they will fearlessly embed themselves in their work environment taking in all
              opinions so they can solve problems.<br>
              They believe all problems should have a solution and that all things should have order.<br>
              This combination of attention to detail and desire for sociability makes them the perfect type to drop into
              any project that needs to be smoothed out.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Solutions from "@/utils/EasyApply/Solutions/Solutions";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import SolutionBlock from "@/app/components/EasyApply/Homepage/Blocks/SolutionBlock.vue";
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
export default defineComponent({
  name: 'JobSeekersSolutions',
  components: { Authentication, MarketSelection, SolutionBlock },
  data() {
    return {

    };
  },
  setup() {
    const { SolutionsData } = Solutions();
    const { VisitRouteByName } = Helpers();
    return { SolutionsData, VisitRouteByName }
  },
  methods: {
  },
});
</script>