<template>

  <button :data-tooltip="action.label"
          @click="handleClickOnActionButton"
      class="button is-primary is-inverted is-small has-text-weight-bold is-shadowless ">
      <span class="icon">
        <span :class="action.icon"></span>
      </span>
    <span>{{ action.label }}</span>
  </button>

</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import ContactForm from "@/app/components/IOSystems/FormKit/ContactForm/ContactForm.vue";
export default defineComponent({
  name: 'ActionButton',
  props: {
    action: Object,
  },
  data() {
    return {};
  },
  setup() {
    const { VisitRouteByName } = Helpers();
    return { VisitRouteByName };
  },
  methods: {
    handleClickOnActionButton() {
      if(this.action.type === 'link') {
        window.open(this.action.link, '_blank');
      } else if(this.action.type === 'route') {
        this.$router.push({
          name: this.action.route
        });
      } else if(this.action.type === 'modal') {
        this.$root.OpenModal(
            (this.action.component??null),
            {},
            (this.action.label??null),
            (this.action.binds??{}),
            (this.action.handlers??{}),
            (this.action.model??{}),
            (this.action.actions??[]),
        )
      } else if(this.action.type === 'method') {

      }
    }
  },
});
</script>