<template>
  <div class="io-systems-form-kit-contact-form">
    <div class="columns is-multiline">

      <div class="column is-12">

        <i-o-input :input-type="`text`"
                   :placeholder="FormObject.placeholders.name"
                   :field="`name`"
                   :label="`What's your name?`"

        />

      </div>

      <div class="column is-12">

        <i-o-input :input-type="`email`"
                   :placeholder="FormObject.placeholders.email"
                   :field="`email`"
                   :label="`What's your email?`"

        />

      </div>

      <div class="column is-12">

        <i-o-input :input-type="`text`"
                   :placeholder="FormObject.placeholders.subject"
                   :field="`subject`"
                   :label="`What's your subject?`"
        />

      </div>

      <div class="column is-12">

        <i-o-text-area
                   :placeholder="FormObject.placeholders.message"
                   :field="`message`"
                   :label="`What's your message?`"
        />

      </div>

      <div class="column is-12">

        <i-o-submit-button/>

      </div>


    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import ValidatorHelper from "@/utils/Validator/Validator";
import IOInput from "@/app/components/IOSystems/Fields/IOInput.vue";
import IOTextArea from "@/app/components/IOSystems/Fields/IOTextArea.vue";
import IOSubmitButton from "@/app/components/IOSystems/Buttons/IOSubmitButton.vue";
export default defineComponent({
  name: 'ContactForm',
  components: {IOSubmitButton, IOInput, IOTextArea},
  data() {
    return {
      FormObject: {
        rules: {
          name: ['required'],
          email: ['required', 'email'],
          subject: ['required'],
          message: ['required'],
        },
        data: {
          name: '',
          email: '',
          subject: '',
          message: '',
        },
        loaders: {
          submitting: false,
          submitted: false,
        },
        validation: {
          status: true,
          errors: {
            total: 0,
            messages: {},
          }
        },
        placeholders: {
          name: 'John Doe',
          email: 'john@konnectkit.nl',
          subject: '',
          message: '',
        }
      }
    };
  },
  setup() {
    const { FormObjectValidator } = ValidatorHelper();
    return { FormObjectValidator };
  },
  created() {

  },

});
</script>
