<template>
  <div class="field">
    <div class="control">
      <template v-if="inputType === 'file'">
        <div class="file">
          <label class="file-label">
            <input class="file-input"
                   type="file">
            <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              {{ placeholder }}
            </span>
          </span>
          </label>
        </div>
      </template>
      <template v-else>
        <label v-if='label' for="">{{ label }}</label>
        <input :type="inputType"
               :class="[ 'input' ].concat(additionalInputClasses)"
               v-model="inputValueModel"
               :placeholder="placeholder">
      </template>
    </div>
    <template v-if="inputErrors">
      <p class="field-control-error">{{ inputErrors }}</p>
    </template>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'IOInput',
  props: {
    inputType: {
      type: String,
      default: 'text'
    },
    field: {},
    label: {
      default: false,
    },
    placeholder: {
      type: String,
      default: ''
    },
    additionalInputClasses: {
      type: Array,
      default() {
        return [];
      }
    },
    defaultValue: {
      default: '',
    },
  },
  watch: {
    inputValueModel(newValue, oldValue) {
      if (newValue !== oldValue) {
        if (this.$parent &&
            this.$parent.$data &&
            this.$parent.$data.FormObject &&
            this.$parent.$data.FormObject.data && this.field) {
          this.$parent.$data.FormObject.data[this.field] = newValue;
        }
      }
    }
  },
  computed: {
    inputErrors() {
      if (this.$parent &&
          this.$parent.$data &&
          this.$parent.$data.FormObject &&
          this.$parent.$data.FormObject.validation &&
          this.$parent.$data.FormObject.validation.errors &&
          this.$parent.$data.FormObject.validation.errors.messages &&
          this.$parent.$data.FormObject.validation.errors.messages[this.field] &&
          this.field) {
        return this.$parent.$data.FormObject.validation.errors.messages[this.field];
      } else {
        return false;
      }
    }
  },
  data() {
    return {
      inputValueModel: '',
    }
  },
  created() {
    this.inputValueModel = this.defaultValue;
  },

});
</script>