<template>
  <div class="field">
    <div class="control">
      <label v-if='label' for="">{{ label }}</label>
      <textarea
            :rows="rows"
             :class="[ 'textarea' ].concat(additionalInputClasses)"
             v-model="inputValueModel"
            :placeholder="placeholder"></textarea>
    </div>
    <template v-if="inputErrors">
      <p class="field-control-error">{{ inputErrors }}</p>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'IOInput',
  props: {
    rows: {
      type: Number,
      default: 5,
    },
    field: { },
    label: {
      default: false,
    },
    placeholder: {
      type: String,
      default: ''
    },
    defaultValue: {
      default: '',
    },
    additionalInputClasses: {
      type: Array,
      default() {
        return [ ];
      }
    }
  },
  watch: {
    inputValueModel(newValue, oldValue) {
      if(newValue !== oldValue) {
        if (this.$parent &&
            this.$parent.$data &&
            //@ts-ignore
            this.$parent.$data.FormObject &&
            //@ts-ignore
            this.$parent.$data.FormObject.data && this.field) {
          //@ts-ignore
          this.$parent.$data.FormObject.data[this.field] = newValue;
        }
      }
    }
  },
  computed: {
    inputErrors() {
      if (this.$parent &&
          this.$parent.$data &&
          this.$parent.$data.FormObject &&
          this.$parent.$data.FormObject.validation &&
          this.$parent.$data.FormObject.validation.errors &&
          this.$parent.$data.FormObject.validation.errors.messages &&
          this.$parent.$data.FormObject.validation.errors.messages[this.field] &&
          this.field) {
        return this.$parent.$data.FormObject.validation.errors.messages[this.field];
      } else { return false; }
    }
  },
  data() {
    return {
      inputValueModel: '',
    }
  },
  created() {
    this.inputValueModel = this.defaultValue;
  },

});
</script>