<template>
  <div class="homepage-view">

    <homepage-intro/>

    <homepage-how-does-it-work-section/>

    <homepage-pricing/>

    <homepage-about-us/>

    <homepage-blog/>

  </div>
</template>
<script lang="ts">
import {defineComponent} from 'vue';
import ContactForm from "@/app/components/IOSystems/FormKit/ContactForm/ContactForm.vue";
import HomepageHowDoesItWorkSection from "@/app/components/EasyApply/Homepage/HowDoesItWorkSection.vue";
import HomepagePricing from "@/app/components/EasyApply/Homepage/PricingSection.vue";
import HomepageIntro from "@/app/components/EasyApply/Homepage/IntroSection.vue";
import HomepageAboutUs from "@/app/components/EasyApply/Homepage/AboutUsSection.vue";
import HomepageBlog from "@/app/components/EasyApply/Homepage/BlogSection.vue";

export default defineComponent({
  name: 'Home',
  components: {
    HomepageAboutUs,
    HomepageIntro,
    HomepagePricing,
    HomepageBlog,
    HomepageHowDoesItWorkSection,
    ContactForm,
  },
  setup() {

  },
  created() {

  },
  methods: {
    t(s) {
      return s;
    },
  }
});
</script>