<template>

  <router-view/>

  <footer>
    <div class="columns is-multiline mb-5">
      <div class="column is-12-mobile is-12-tablet is-3-desktop is-3-fullhd">
        <section class="hero has-dark-tertiary-background br-r-t-d br-r-b-d" style="height: 100%;">
          <div class="hero-body " style="display: flex;align-items: center;">
            <p>
              <router-link to="/"><strong class="has-primary-color">EasyApply</strong></router-link> is a brand of <a href="https://konnectkit.nl" target="_blank" style="color: rgb(24, 232, 177);">Konnect Kit</a>.
              <br>
              <span style="font-size:11px;" class="is-block mt-3">vAtlas-3.0.0-01.04.2023</span></p>
          </div>
        </section>
      </div>
      <div class="column is-12-mobile is-12-tablet is-9-desktop is-9-fullhd">
        <section class="hero" style="height: 100%;">
          <div class="hero-body ">

            <div class="columns">

              <div class="column is-4">

                <p class="menu-label">Connect with us</p>
                <div class="buttons is-social-icons-buttons pr-5">

                  <template v-for="action in connectWithUsActions">
                    <ActionButton :action="action"/>
                  </template>


                </div>
              </div>

              <div class="column is-4">

                <p class="menu-label">Settings & Privacy</p>

                <div class="buttons is-social-icons-buttons pr-6">

                  <template v-for="action in settingsNPrivacy">
                    <ActionButton :action="action"/>
                  </template>

                </div>

              </div>

              <div class="column is-3">

                <p class="menu-label">Our Social Media</p>

                <div class="buttons is-social-icons-buttons pr-5">

                  <template
                     v-for="action in socialMediaPlatforms"
                  > <ActionButton :action="action"/> </template>

                </div>

              </div>

            </div>

          </div>
        </section>
      </div>
    </div>
  </footer>

  <template v-if="ModalProperties.isRendered">
    <generic-modal v-bind="Object.assign(ModalProperties)" v-on="ModalHandlers"/>
  </template>

</template>
<script>
import { defineComponent } from 'vue';
import EANavbar from "@/app/components/Navigation/Navbar";
import ActionButton from "@/app/components/EasyApply/Footer/ActionButton";
import GenericModal from "@/app/components/Modal/GenericModal";
import ContactForm from "@/app/components/IOSystems/FormKit/ContactForm/ContactForm";
import NewsletterSubscriptionForm from "@/app/components/IOSystems/NewsKit/Newsletter/Subscribe";
export default defineComponent({
  name: 'App',
  components: {GenericModal, ActionButton, EANavbar},
  watch: {
    '$route'() {

      if(window.location.hash.length) {
        this.$nextTick(() => {
          let hash = window.location.hash.replace(/^#/, '');
          let element = document.getElementById(hash);
          console.log("got the element", element);
          if (element) {
            this.$nextTick(() => {
              window.scrollTo(0, element.offsetTop);
            });
          } else { window.scrollTo(0,0); }
        });
      } else { window.scrollTo(0,0); }
    }
  },
  data() {
    return {
      socialMediaPlatforms: {
        facebook: {
          type: 'link',
          label: 'Facebook',
          icon: 'fab fa-facebook',
          link: 'https://facebook.com/EasyApplyApp',
        },
        instagram: {
          type: 'link',
          label: 'Instagram',
          icon: 'fab fa-instagram',
          link: 'http://instagram.com/easyapply.app/',
        },
        linkedin: {
          type: 'link',
          label: 'Linkedin',
          icon: 'fab fa-linkedin',
          link: 'https://www.linkedin.com/company/easyapplyapp',
        },
      },
      connectWithUsActions: {
        aboutUs: {
          type: 'route',
          route: 'AboutUs',
          icon: 'fa fa-address-card',
          label: 'About us'
        },
        personalityTypes: {
          type: 'route',
          route: 'PersonalityTypes',
          icon: 'fa fa-hat-wizard',
          label: 'Personality types'
        },
        messageUs: {
          type: 'modal',
          component: ContactForm,
          binds: {},
          handlers: {},
          icon: 'fa fa-envelope',
          label: 'Write us a message'
        },
        newsletter: {
          type: 'modal',
          component: NewsletterSubscriptionForm,
          icon: 'fa fa-newspaper',
          label: 'Get the newsletter'
        },
        buyCoffee: {
          type: 'link',
          link: 'https://www.paypal.com/donate/?hosted_button_id=PCWMK4XX9532J',
          icon: 'fa fa-coffee',
          label: 'Buy us a coffee'
        },
      },
      settingsNPrivacy: {
        account: {
          type: 'route',
          route: 'Profile',
          icon: 'fa fa-user',
          label: 'Account',
        },
        preferences: {
          type: 'modal',
          modal: 'Preferences',
          icon: 'fa fa-cogs',
          label: 'Preferences',
        },
        privacy: {
          type: 'link',
          link: 'https://privacy.mykit.ws/policy/easyapply.app',
          icon: 'fa fa-user-shield',
          label: 'Privacy Policy',
        },
        clearcache: {
          type: 'method',
          method: 'ClearCache',
          icon: 'fa fa-sd-card',
          label: 'Clear Cache',
        },
        toggleDarkMode: {
          type: 'method',
          method: 'ToggleDarkMode',
          icon: 'fa fa-moon',
          label: 'Dark Mode'
        }

      },
      ModalProperties: {
        isRendered: false,
        isOpen: false,
        view: null,
        modalTitle: null,
        viewBinds: {},
        viewHandlers: {},
        viewModel: {},
        actions: [],
      },
      ModalHandlers: {
        close : () => {
          this.ModalProperties.isOpen = false;
          this.$nextTick(() => {
            this.ModalProperties.isRendered = false;
          });
        },
      }
    };
  },
  created() {

  },

  methods: {
    OpenModal(view, modalHandlers = {}, modalTitle = '', binds = {}, handlers = {}, model = {}, actions = []) {
      this.ModalHandlers = Object.assign(this.ModalHandlers, modalHandlers);
      this.ModalProperties = Object.assign(this.ModalProperties, {
        isRendered: true,
        view: view,
        modalTitle: modalTitle,
        viewBinds: binds,
        viewHandlers: handlers,
        viewModel: model,
        actions: actions
      });
      this.$nextTick(() => {
        this.ModalProperties.isOpen = true;
      });
    }
  }
});
</script>

<style lang="scss">
@import './assets/scss/app';
</style>
