<template>

  <nav class="navbar is-fixed-top" role="navigation" aria-label="dropdown navigation">
    <div class="container is-fluid">

      <a class="navbar-item">
        <img src="https://bulma.io/images/bulma-logo.png"
             alt="Bulma: Free, open source, and modern CSS framework based on Flexbox"
             width="112" height="28">
      </a>



    </div>
  </nav>

</template>
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'EANavbar',
});
</script>