<template>
  <div class="columns is-multiline mb-5">
    <div class="column is-12-mobile is-12-tablet is-5-desktop is-5-fullhd">
      <section class="hero has-dark-tertiary-background is-fullheight br-r-b-d">
        <div class="hero-body ">

          <market-selection/>

          <authentication/>

          <logo-block/>

        </div>

      </section>
    </div>
    <div class="column is-12-mobile is-12-tablet is-7-desktop is-7-fullhd" id="solutions">
      <section class="hero is-fullheight">
        <div class="hero-body has-fixed-mt">
          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-12">

                <a class="is-pulled-left is-hidden-mobile has-text-weight-bold is-size-6 mb-5"
                   @click="VisitRouteByName(this, 'Homepage', {})">
                  <span class="icon">
                      <span class="fa fa-chevron-circle-left"></span>
                    </span>
                  Go back home
                </a>
                <div class="is-clearfix"></div>


                <h3 class="is-size-3 has-secondary-color has-text-weight-black line-height-normalized">
                  Solutions for Job Seekers:
                </h3>
                <div class="content">
                  <p class="is-size-6 pt-4 pr-2">
                    At EasyApply, we offer a range of tailored solutions designed to empower job seekers in their career journey. Whether you're searching for your next dream job, building a standout CV, seeking expert career advice, or leveraging the power of your Curriculum Vitae to discover personalized opportunities, we've got you covered. Explore our solutions and take advantage of the tools and resources that will help you unlock your full potential and make meaningful strides in your career.
                  </p>
                </div>
              </div>

              <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-fullhd">

                <div class="columns is-multiline">
                  <div class="column is-12-mobile is-4-tablet is-6-desktop is-6-widescreen is-4-fullhd"
                       :key="solution.title"
                       v-for="solution in Object.values(SolutionsData.JobSeekers)">
                    <solution-block :solution="solution"/>
                  </div>

                </div>


              </div>

            </div>

          </div>

        </div>
      </section>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import Solutions from "@/utils/EasyApply/Solutions/Solutions";
import Helpers from "@/utils/EasyApply/Helpers/Helpers";
import SolutionBlock from "@/app/components/EasyApply/Homepage/Blocks/SolutionBlock.vue";
import MarketSelection from "@/app/components/EasyApply/Global/MarketSelection.vue";
import Authentication from "@/app/components/EasyApply/Global/Authentication.vue";
import LogoBlock from "@/app/components/EasyApply/Global/LogoBlock.vue";
export default defineComponent({
  name: 'JobSeekersSolutions',
  components: {LogoBlock, Authentication, MarketSelection, SolutionBlock},
  data() {
    return {

    };
  },
  setup() {
    const { SolutionsData } = Solutions();
    const { VisitRouteByName } = Helpers();
    return { SolutionsData, VisitRouteByName }
  },
  methods: {
  },
});
</script>